<!-- Breadcrumb -->
@if (last !== 'view') {
  <div class="breadcrumb-bar text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-12">
          <div class="breadcrumb-list">
            <h2 class="breadcrumb-title">{{ last | titlecase }}</h2>
            <nav aria-label="breadcrumb" class="page-breadcrumb">
              <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a [routerLink] = "routes.home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ last | titlecase }}</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
}
<!-- /Breadcrumb -->
<div class="content">
  <div class="container">
  <!-- profile box -->
  <div class="profile-card overflow-hidden bg-blue-gradient2 mb-5 p-5">
      <div class="profile-card-bg">
          <img src="assets/img/bg/card-bg-01.png" class="profile-card-bg-1" alt="">
      </div>
          <div class="row align-items-center row-gap-3">
              <div class="col-lg-6">
                  <div class="d-flex align-items-center">
                      <span class="avatar avatar-xxl avatar-rounded me-3 border border-white border-2 position-relative">
                          <img src="assets/img/user/user-02.jpg" alt="">
                          <span class="verify-tick"><i class="isax isax-verify5"></i></span>
                      </span>
                      <div>
                          <h5 class="mb-1 text-white d-inline-flex align-items-center"><a [routerLink]="routes.studentsDetails">Ronald Richard</a><a [routerLink]="routes.instructorProfile" class="link-light fs-16 ms-2"><i class="isax isax-edit-2"></i></a></h5>
                          <p class="text-light">Student</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="d-flex align-items-center justify-content-lg-end flex-wrap gap-2">
                      <a [routerLink]="routes.becomeAnExpert" class="btn btn-white rounded-pill me-3">Become an Instructor</a>
                      <a [routerLink]="routes.instructor_dashboard" class="btn btn-secondary rounded-pill">Instructor Dashboard</a>
                  </div>
              </div>
          </div>
  </div>
  <!-- profile box -->
      <div class="row">
          <!-- sidebar -->
          <div class="col-lg-3 ">
              <app-student-sidebar/>
          </div>
          <!-- sidebar -->
          <div class="col-lg-9">
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>

		<!-- Footer -->
		<footer class="footer">
			<div class="footer-bg">
				<img src="assets/img/bg/footer-bg-01.png" class="footer-bg-1" alt="">
				<img src="assets/img/bg/footer-bg-02.png" class="footer-bg-2" alt="">
			</div>
			<div class="footer-top">
				<div class="container">
					<div class="row row-gap-4">
						<div class="col-lg-4">
							<div class="footer-about">
								<div class="footer-logo">
									<img src="assets/img/logo.svg" alt="">
								</div>
								<p>Platform designed to help organizations, educators, and learners manage, deliver, and track learning and training activities.</p>
								<div class="d-flex align-items-center">
									<a href="javascript:void(0);" class="me-2"><img src="assets/img/icon/appstore.svg" alt=""></a>
									<a href="javascript:void(0);"><img src="assets/img/icon/googleplay.svg" alt=""></a>
								</div>
							</div>
						</div>
						<div class="col-lg-8">
							<div class="row row-gap-4">
								<div class="col-lg-3">
									<div class="footer-widget footer-menu">
										<h5 class="footer-title">For Instructor</h5>
										<ul>
											<li><a [routerLink]="routes.courseGrid">Search Mentors</a></li>
											<li><a [routerLink]="routes.login">Login</a></li>
											<li><a [routerLink]="routes.register">Register</a></li>
											<li><a [routerLink]="routes.courseList">Booking</a></li>
											<li><a [routerLink]="routes.students_Dashboard">Students Dashboard</a></li>
										</ul>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="footer-widget footer-menu">
										<h5 class="footer-title">For Student</h5>
										<ul>
											<li><a href="javascript:void(0);">Appointments</a></li>
											<li><a [routerLink]="routes.instructorMessage">Chat</a></li>
											<li><a [routerLink]="routes.login">Login</a></li>
											<li><a [routerLink]="routes.register">Register</a></li>
											<li><a [routerLink]="routes.instructor_dashboard">Instructor Dashboard</a></li>
										</ul>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="footer-widget footer-contact">
										<h5 class="footer-title">Newsletter</h5>
										<div class="subscribe-input">
											<form action="javascript:void(0);">
												<input type="email" class="form-control" placeholder="Enter your Email Address">
												<button type="submit" class="btn btn-primary btn-sm inline-flex align-items-center"><i class="isax isax-send-2 me-1"></i>Subscribe</button>
											</form>
										</div>
										<div class="footer-contact-info">
											<div class="footer-address d-flex align-items-center">
												<img src="assets/img/icon/icon-20.svg" alt="Img" class="img-fluid me-2">
												<p> 3556  Beech Street, San Francisco,<br> California, CA 94108 </p>
											</div>
											<div class="footer-address d-flex align-items-center">
												<img src="assets/img/icon/icon-19.svg" alt="Img" class="img-fluid me-2">
												<p>dreamslms&#64;example.com</p>
											</div>
											<div class="footer-address d-flex align-items-center">
												<img src="assets/img/icon/icon-21.svg" alt="Img" class="img-fluid me-2">
												<p>+19 123-456-7890</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="container">
					<div class="row row-gap-2">
						<div class="col-md-6">
							<div class="text-center text-md-start">
								<p class="text-white">Copyright &copy; 2025 DreamsLMS. All rights reserved.</p>
							</div>
						</div>
						<div class="col-md-6">
							<div>
								<ul class="d-flex align-items-center justify-content-center justify-content-md-end footer-link">
									<li><a [routerLink]="routes.page_term_condition">Terms & Conditions</a></li>
									<li><a [routerLink]="routes.page_privacy_policy">Privacy Policy</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- /Footer -->