<div class="mb-3">
    <h5>Settings</h5>
</div>				
    <ul class="settings-nav d-flex align-items-center flex-wrap border bg-light-900 rounded">
        <li><a [routerLink]="routes.instructorSettings" routerLinkActive="active">Profile</a></li>
        <li><a [routerLink]="routes.instructorChangePassword" routerLinkActive="active">Security</a></li>
        <li><a [routerLink]="routes.instructorPlans" routerLinkActive="active">Plans</a></li>
        <li><a [routerLink]="routes.instructorSocialProfiles" routerLinkActive="active">Social Profiles</a></li>
        <li><a [routerLink]="routes.instructorLinkedAccounts" routerLinkActive="active">Linked Accounts</a></li>
        <li><a [routerLink]="routes.instructorSettingNotifications" routerLinkActive="active">Notifications</a></li>
        <li><a [routerLink]="routes.instructorIntegrations" routerLinkActive="active">Integrations</a></li>
        <li><a [routerLink]="routes.instructorSettingWithdraw" routerLinkActive="active">Withdraw</a></li>
    </ul>

<router-outlet></router-outlet> 
