
    <div class="card bg-light">
        <div class="card-body">
            <div class="row align-items-center gy-3">
                <div class="col-xl-8">
                    <div>
                        <div class="d-sm-flex align-items-center">
                            <div class="quiz-img me-3 mb-2 mb-sm-0">
                                <img src="assets/img/students/quiz.jpg" alt="">
                            </div>
                            <div>
                                <h5 class="mb-2"><a href="javascript:void(0);">Information About UI/UX Design Degree</a></h5>
                                <div class="question-info d-flex align-items-center">
                                    <p class="d-flex align-items-center fs-14 me-2 pe-2 border-end mb-0"><i class="isax isax-message-question5 text-primary-soft me-2"></i>25 Questions</p>
                                    <p class="d-flex align-items-center fs-14 mb-0"><i class="isax isax-clock5 text-secondary-soft me-2"></i>30 Minutes</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="d-flex align-items-center justify-content-sm-end">
                        <a [routerLink]="routes.instructorQuizResult" class="text-info text-decoration-underline fs-12 fw-medium me-3">View Results</a>
                        <a href="javascript:void(0);" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#add_question">Add Question</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <h6>Which of the following is a principle of UX design?</h6>
                <div class="d-flex align-items-center justify-content-end">
                    <a href="javascript:void(0);" class="d-inline-flex fs-14 me-2 action-icon" data-bs-toggle="modal" data-bs-target="#edit_question"><i class="isax isax-edit-2"></i></a>
                    <a href="javascript:void(0);" class="d-inline-flex fs-14 action-icon" data-bs-toggle="modal" data-bs-target="#delete_modal"><i class="isax isax-trash"></i></a>
                </div>
            </div>
            <div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="qusetion-1" id="Radio-sm-1">
                    <label class="form-check-label" for="Radio-sm-1">
                        Minimalistic Design
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="qusetion-1" id="Radio-sm-2" checked>
                    <label class="form-check-label" for="Radio-sm-2">
                        User-Centered Design
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="qusetion-1" id="Radio-sm-3">
                    <label class="form-check-label" for="Radio-sm-3">
                        Gradient Usage
                    </label>
                </div>
                <div class="form-check mb-0">
                    <input class="form-check-input" type="radio" name="qusetion-1" id="Radio-sm-4">
                    <label class="form-check-label" for="Radio-sm-4">
                        Typography Hierarchy
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <h6>Which tool is commonly used for wireframing?</h6>
                <div class="d-flex align-items-center justify-content-end">
                    <a href="javascript:void(0);" class="d-inline-flex fs-14 me-2 action-icon" data-bs-toggle="modal" data-bs-target="#edit_question"><i class="isax isax-edit-2"></i></a>
                    <a href="javascript:void(0);" class="d-inline-flex fs-14 action-icon" data-bs-toggle="modal" data-bs-target="#delete_modal"><i class="isax isax-trash"></i></a>
                </div>
            </div>
            <div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="qusetion-1" id="Radio-sm-5">
                    <label class="form-check-label" for="Radio-sm-5">
                        Adobe Photoshop
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="qusetion-2" id="Radio-sm-6" checked>
                    <label class="form-check-label" for="Radio-sm-6">
                        Figma
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="qusetion-2" id="Radio-sm-7">
                    <label class="form-check-label" for="Radio-sm-7">
                        Visual Studio Code
                    </label>
                </div>
                <div class="form-check mb-0">
                    <input class="form-check-input" type="radio" name="qusetion-2" id="Radio-sm-8">
                    <label class="form-check-label" for="Radio-sm-8">
                        GitHub
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <h6>What does UI stand for?</h6>
                <div class="d-flex align-items-center justify-content-end">
                    <a href="javascript:void(0);" class="d-inline-flex fs-14 me-2 action-icon" data-bs-toggle="modal" data-bs-target="#edit_question"><i class="isax isax-edit-2"></i></a>
                    <a href="javascript:void(0);" class="d-inline-flex fs-14 action-icon" data-bs-toggle="modal" data-bs-target="#delete_modal"><i class="isax isax-trash"></i></a>
                </div>
            </div>
            <div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="qusetion-3" id="Radio-sm-9">
                    <label class="form-check-label" for="Radio-sm-9">
                        User Intention
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="qusetion-3" id="Radio-sm-10" checked>
                    <label class="form-check-label" for="Radio-sm-10">
                        User Interface
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="qusetion-3" id="Radio-sm-11">
                    <label class="form-check-label" for="Radio-sm-11">
                        Universal Interaction
                    </label>
                </div>
                <div class="form-check mb-0">
                    <input class="form-check-input" type="radio" name="qusetion-3" id="Radio-sm-12">
                    <label class="form-check-label" for="Radio-sm-12">
                        Usability Information
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <h6>Which of the following is a principle of UX design?</h6>
                <div class="d-flex align-items-center justify-content-end">
                    <a href="javascript:void(0);" class="d-inline-flex fs-14 me-2 action-icon" data-bs-toggle="modal" data-bs-target="#edit_question"><i class="isax isax-edit-2"></i></a>
                    <a href="javascript:void(0);" class="d-inline-flex fs-14 action-icon" data-bs-toggle="modal" data-bs-target="#delete_modal"><i class="isax isax-trash"></i></a>
                </div>
            </div>
            <div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="qusetion-4" id="Radio-sm-13">
                    <label class="form-check-label" for="Radio-sm-13">
                        Minimalistic Design
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="qusetion-4" id="Radio-sm-14" checked>
                    <label class="form-check-label" for="Radio-sm-14">
                        User-Centered Design
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="qusetion-4" id="Radio-sm-15">
                    <label class="form-check-label" for="Radio-sm-15">
                        Gradient Usage
                    </label>
                </div>
                <div class="form-check mb-0">
                    <input class="form-check-input" type="radio" name="qusetion-4" id="Radio-sm-16">
                    <label class="form-check-label" for="Radio-sm-16">
                        Typography Hierarchy
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <h6>Which tool is commonly used for wireframing?</h6>
                <div class="d-flex align-items-center justify-content-end">
                    <a href="javascript:void(0);" class="d-inline-flex fs-14 me-2 action-icon" data-bs-toggle="modal" data-bs-target="#edit_question"><i class="isax isax-edit-2"></i></a>
                    <a href="javascript:void(0);" class="d-inline-flex fs-14 action-icon" data-bs-toggle="modal" data-bs-target="#delete_modal"><i class="isax isax-trash"></i></a>
                </div>
            </div>
            <div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="qusetion-5" id="Radio-sm-17">
                    <label class="form-check-label" for="Radio-sm-17">
                        Adobe Photoshop
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="qusetion-5" id="Radio-sm-18" checked>
                    <label class="form-check-label" for="Radio-sm-18">
                        Figma
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="qusetion-5" id="Radio-sm-19">
                    <label class="form-check-label" for="Radio-sm-19">
                        Visual Studio Code
                    </label>
                </div>
                <div class="form-check mb-0">
                    <input class="form-check-input" type="radio" name="qusetion-5" id="Radio-sm-20">
                    <label class="form-check-label" for="Radio-sm-20">
                        GitHub
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <h6>What is a wireframe?</h6>
                <div class="d-flex align-items-center justify-content-end">
                    <a href="javascript:void(0);" class="d-inline-flex fs-14 me-2 action-icon" data-bs-toggle="modal" data-bs-target="#edit_question"><i class="isax isax-edit-2"></i></a>
                    <a href="javascript:void(0);" class="d-inline-flex fs-14 action-icon" data-bs-toggle="modal" data-bs-target="#delete_modal"><i class="isax isax-trash"></i></a>
                </div>
            </div>
            <div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="qusetion-6" id="Radio-sm-21">
                    <label class="form-check-label" for="Radio-sm-21">
                        A detailed, interactive prototype
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="qusetion-6" id="Radio-sm-22" checked>
                    <label class="form-check-label" for="Radio-sm-22">
                        A low-fidelity representation of a design
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="qusetion-6" id="Radio-sm-23">
                    <label class="form-check-label" for="Radio-sm-23">
                        The codebase of a website
                    </label>
                </div>
                <div class="form-check mb-0">
                    <input class="form-check-input" type="radio" name="qusetion-6" id="Radio-sm-24">
                    <label class="form-check-label" for="Radio-sm-24">
                        A high-fidelity design concept
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <h6>What is the primary goal of UX design?</h6>
                <div class="d-flex align-items-center justify-content-end">
                    <a href="javascript:void(0);" class="d-inline-flex fs-14 me-2 action-icon" data-bs-toggle="modal" data-bs-target="#edit_question"><i class="isax isax-edit-2"></i></a>
                    <a href="javascript:void(0);" class="d-inline-flex fs-14"><i class="isax isax-trash" data-bs-toggle="modal" data-bs-target="#delete_modal"></i></a>
                </div>
            </div>
            <div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="qusetion-7" id="Radio-sm-25">
                    <label class="form-check-label" for="Radio-sm-25">
                        To create a visually appealing design
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="qusetion-7" id="Radio-sm-26" checked>
                    <label class="form-check-label" for="Radio-sm-26">
                        To enhance user satisfaction and usability
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="qusetion-7" id="Radio-sm-27">
                    <label class="form-check-label" for="Radio-sm-27">
                        To develop complex navigation flows
                    </label>
                </div>
                <div class="form-check mb-0">
                    <input class="form-check-input" type="radio" name="qusetion-7" id="Radio-sm-28">
                    <label class="form-check-label" for="Radio-sm-28">
                        To optimize code performance
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <a href="javascript:void(0);" class="btn btn-secondary">Load More</a>
    </div>


    			<!-- Add Question -->
			<div class="modal fade" id="add_question">
				<div class="modal-dialog modal-dialog-centered modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="fw-bold">Add New Question</h5>
							<button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
								<i class="isax isax-close-circle5"></i>
							</button>
						</div>
						<form>
							<div class="modal-body">
								<div class="mb-3">
									<label class="form-label">Question <span class="text-danger"> *</span></label>
									<input type="text" class="form-control">
								</div>
								<div class="mb-3">
									<label class="form-label">Question Type <span class="text-danger"> *</span></label>
									<mat-select class="custom-mat-select select" placeholder="Select">
										<mat-option value="1">Select</mat-option>
										<mat-option value="1">Multiple choice</mat-option>
										<mat-option value="1">True or False</mat-option>
									</mat-select>
								</div>
								<h6 class="mb-3">Answer</h6>
								<div class="add-choice-data">
									<div class="mb-3">
										<div class="d-flex align-items-center justify-content-between">
											<label class="form-label">Choice 1 <span class="text-danger"> *</span></label>
											<div class="form-check form-switch form-switch-end">
												<label class="form-check-label" for="switch-sm">Correct Answer</label>
												<input class="form-check-input" type="checkbox" role="switch" id="switch-sm" checked>
											</div>
										</div>
										<input type="text" class="form-control">
									</div>
                                    <ng-container *ngFor="let item of formData; let i = index;">
                                        <div class="mb-3 extra-choice-row">
                                            <div class="d-flex align-items-end justify-content-between">
                                                <div class="flex-fill">
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <label class="form-label">Choice {{ i + 2 }}
                                                            <span class="text-danger"> *</span>
                                                        </label>
                                                        <div class="form-check form-switch form-switch-end">
                                                            <label class="form-check-label" for="switch-sm2">Correct Answer</label>
                                                            <input class="form-check-input" type="checkbox" role="switch" id="switch-sm2">
                                                        </div>
                                                    </div>
                                                    <input type="text" class="form-control"></div>
                                                    <a href="javascript:void(0);" class="delete-item ms-4" (click)="removeRow(i)"><i class="isax isax-trash"></i></a>
                                                </div>
                                            </div>
                                    </ng-container>
								</div>
								<a href="javascript:void(0);" class="text-secondary d-inline-flex align-items-center fw-medium add-choice" (click)="addNewRow()">
									<i class="isax isax-add me-1"></i>Add New
								</a>
							</div>
							<div class="modal-footer">
								<button class="btn bg-gray-100 rounded-pill me-2" type="button" data-bs-dismiss="modal">Cancel</button>
								<button class="btn btn-secondary rounded-pill" type="submit" data-bs-dismiss="modal">Add Question</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- /Add Question -->

			<!-- Add Question -->
			<div class="modal fade" id="edit_question">
				<div class="modal-dialog modal-dialog-centered modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="fw-bold">Edit Question</h5>
							<button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
								<i class="isax isax-close-circle5"></i>
							</button>
						</div>
						<form>
							<div class="modal-body">
								<div class="mb-3">
									<label class="form-label">Question <span class="text-danger"> *</span></label>
									<input type="text" class="form-control" value="Which of the following is a principle of UX design?">
								</div>
								<div class="mb-3">
									<label class="form-label">Question Type <span class="text-danger"> *</span></label>
									<mat-select class="custom-mat-select select" placeholder="Multiple choice">
										<mat-option value="1">Select</mat-option>
										<mat-option value="1">Multiple choice</mat-option>
										<mat-option value="1">True or False</mat-option>
									</mat-select>
								</div>
								<h6 class="mb-3">Answer</h6>
								<div class="mb-3">
									<div class="d-flex align-items-center justify-content-between">
										<label class="form-label">Choice 1 <span class="text-danger"> *</span></label>
										<div class="form-check form-switch form-switch-end">
											<label class="form-check-label correct-ans" for="switch-sm3">Correct Answer</label>
											<input class="form-check-input" type="checkbox" role="switch" id="switch-sm3" checked>
										</div>
									</div>
									<input type="text" class="form-control" value="Minimalistic Design">
								</div>
								<div class="mb-3">
									<div class="d-flex align-items-center justify-content-between">
										<label class="form-label">Choice 2 <span class="text-danger"> *</span></label>
										<div class="form-check form-switch form-switch-end">
											<label class="form-check-label" for="switch-sm4">Correct Answer</label>
											<input class="form-check-input" type="checkbox" role="switch" id="switch-sm4">
										</div>
									</div>
									<input type="text" class="form-control" value="User-Centered Design">
								</div>
								<div class="mb-3">
									<div class="d-flex align-items-center justify-content-between">
										<label class="form-label">Choice 3 <span class="text-danger"> *</span></label>
										<div class="form-check form-switch form-switch-end">
											<label class="form-check-label" for="switch-sm5">Correct Answer</label>
											<input class="form-check-input" type="checkbox" role="switch" id="switch-sm5">
										</div>
									</div>
									<input type="text" class="form-control" value="Gradient Usage">
								</div>
								<div class="mb-3">
									<div class="d-flex align-items-center justify-content-between">
										<label class="form-label">Choice 4 <span class="text-danger"> *</span></label>
										<div class="form-check form-switch form-switch-end">
											<label class="form-check-label" for="switch-sm6">Correct Answer</label>
											<input class="form-check-input" type="checkbox" role="switch" id="switch-sm6">
										</div>
									</div>
									<input type="text" class="form-control" value="Typography Hierarchy">
								</div>
							</div>
							<div class="modal-footer">
								<button class="btn bg-gray-100 rounded-pill me-2" type="button" data-bs-dismiss="modal">Cancel</button>
								<button class="btn btn-secondary rounded-pill" type="submit" data-bs-dismiss="modal">Save Changes</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- /Add Question -->

			<!-- Delete Modal -->
			<div class="modal fade" id="delete_modal">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-body text-center custom-modal-body">
							<span class="avatar avatar-lg bg-secondary-transparent rounded-circle mb-2">
								<i class="isax isax-trash fs-24 text-danger"></i>
							</span>
							<div>
								<h4 class="mb-2">Delete Quiz</h4>
								<p class="mb-3">Are you sure you want to delete Quiz 
									“Information About UI/UX Design Degree”?</p>
								<div class="d-flex align-items-center justify-content-center">
									<a href="javascript:void(0);" class="btn bg-gray-100 rounded-pill me-2" data-bs-dismiss="modal">Cancel</a>
									<a href="javascript:void(0);" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Yes, Delete</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Delete Modal -->