<div class="page-title d-flex align-items-center justify-content-between">
        <h5>Reviews</h5>
    </div>

    <div class="border mb-3 p-3 rounded-2">
        <div class="d-flex flex-wrap gap-1 align-items-center justify-content-between mb-3">
            <div class="d-flex align-items-center">
                <div class="avatar avatar-lg avatar-rounded me-2">
                    <a [routerLink]="routes.studentsDetails"><img src="assets/img/user/user-02.jpg" alt="img"></a>
                </div>
                <div class="reviewer-info">
                    <h6 class="mb-1"><a [routerLink]="routes.studentsDetails">Ronald Richard</a></h6>
                    <p class="fs-14">6 months ago</p>									
                </div>
            </div>
            <div class="rating">
                <i class="fa-solid fa-star filled"></i>
                <i class="fa-solid fa-star filled"></i>
                <i class="fa-solid fa-star filled"></i>
                <i class="fa-solid fa-star filled"></i>
                <i class="fa-solid fa-star"></i>
            </div>
        </div>
        <div class="mb-3">
            <p>This is the second Photoshop course I have completed with Nancy Duarte.
                Worth every penny and recommend it highly. To get the most out of this course, 
                its best to to take the Beginner to Advanced course first. 
                The sound and video quality is of a good standard. Thank you Nancy Duarte.
            </p>
        </div>
        <div class="d-flex align-items-center justify-content-between mb-3">			
            <div class="d-flex align-items-center">
                <a href="javascript:void(0);" class="d-inline-flex align-items-center me-3 edit-review" data-bs-toggle="modal" data-bs-target="#edit_review"><i class="isax isax-edit-2 me-1"></i>Edit</a>
                <a href="javascript:void(0);" class="d-inline-flex align-items-center delete-review" data-bs-toggle="modal" data-bs-target="#delete_modal"><i class="isax isax-trash me-1"></i>Delete</a>
            </div>
        </div>
        <div class="bg-light border p-3 rounded-2">
            <h6 class="mb-1">Reply</h6>
            <p class="fs-14">As a learner who has navigated through various online platforms, the sophistication and user-centric design of this website set a new</p>
        </div>
    </div>
    <div class="border mb-3 p-3 rounded-2">
        <div class="d-flex flex-wrap gap-1 align-items-center justify-content-between mb-3">
            <div class="d-flex align-items-center">
                <div class="avatar avatar-lg avatar-rounded me-2">
                    <a [routerLink]="routes.studentsDetails"><img src="assets/img/user/user-02.jpg" alt="img"></a>
                </div>
                <div class="reviewer-info">
                    <h6 class="mb-1"><a [routerLink]="routes.studentsDetails">Ronald Richard</a></h6>
                    <p class="fs-14">9 months ago</p>									
                </div>
            </div>
            <div class="rating">
                <i class="fa-solid fa-star filled"></i>
                <i class="fa-solid fa-star filled"></i>
                <i class="fa-solid fa-star filled"></i>
                <i class="fa-solid fa-star filled"></i>
                <i class="fa-solid fa-star"></i>
            </div>
        </div>
        <div class="mb-3">
            <p>I've been using this LMS for several months for my online courses, and it's been
                a game-changer. The interface is incredibly user-friendly, making it easy for both 
                instructors and students to navigate through the courses. The variety of tools available 
                for creating interactive and
                engaging content has significantly enhanced the learning experience.
            </p>
        </div>
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <a href="javascript:void(0);" class="d-inline-flex align-items-center me-3 edit-review" data-bs-toggle="modal" data-bs-target="#edit_review"><i class="isax isax-edit-2 me-1"></i>Edit</a>
                <a href="javascript:void(0);" class="d-inline-flex align-items-center delete-review" data-bs-toggle="modal" data-bs-target="#delete_modal"><i class="isax isax-trash me-1"></i>Delete</a>
            </div>
        </div>
    </div>
    <div class="border mb-3 p-3 rounded-2">
        <div class="d-flex flex-wrap gap-1 align-items-center justify-content-between mb-3">
            <div class="d-flex align-items-center">
                <div class="avatar avatar-lg avatar-rounded me-2">
                    <a [routerLink]="routes.studentsDetails"><img src="assets/img/user/user-02.jpg" alt="img"></a>
                </div>
                <div class="reviewer-info">
                    <h6 class="mb-1"><a [routerLink]="routes.studentsDetails">Ronald Richard</a></h6>
                    <p class="fs-14">9 months ago</p>									
                </div>
            </div>
            <div class="rating">
                <i class="fa-solid fa-star filled"></i>
                <i class="fa-solid fa-star filled"></i>
                <i class="fa-solid fa-star filled"></i>
                <i class="fa-solid fa-star filled"></i>
                <i class="fa-solid fa-star"></i>
            </div>
        </div>
        <div class="mb-3">
            <p>Any time I've had a question or encountered a minor issue, the 
                customer support team has been quick to respond and incredibly helpful. Moreover, 
                the reliability of this LMS has impressed me—downtime is 
                nearly non-existent, ensuring that  students have access to their courses 24/7.
            </p>
        </div>
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <a href="javascript:void(0);" class="d-inline-flex align-items-center me-3 edit-review" data-bs-toggle="modal" data-bs-target="#edit_review"><i class="isax isax-edit-2 me-1"></i>Edit</a>
                <a href="javascript:void(0);" class="d-inline-flex align-items-center delete-review" data-bs-toggle="modal" data-bs-target="#delete_modal"><i class="isax isax-trash me-1"></i>Delete</a>
            </div>
        </div>
    </div>
    <div class="border p-3 rounded-2">
        <div class="d-flex flex-wrap gap-1 align-items-center justify-content-between mb-3">
            <div class="d-flex align-items-center">
                <div class="avatar avatar-lg avatar-rounded me-2">
                    <a [routerLink]="routes.studentsDetails"><img src="assets/img/user/user-02.jpg" alt="img"></a>
                </div>
                <div class="reviewer-info">
                    <h6 class="mb-1"><a [routerLink]="routes.studentsDetails">Ronald Richard</a></h6>
                    <p class="fs-14">9 months ago</p>									
                </div>
            </div>
            <div class="rating">
                <i class="fa-solid fa-star filled"></i>
                <i class="fa-solid fa-star filled"></i>
                <i class="fa-solid fa-star filled"></i>
                <i class="fa-solid fa-star filled"></i>
                <i class="fa-solid fa-star"></i>
            </div>
        </div>
        <div class="mb-3">
            <p>From the onset, my experience with this LMS Website has been nothing 
                short of extraordinary. As a learner who has navigated through various online platforms, 
                the sophistication and user-centric design of this website
                set a new benchmark for what digital education should look like.
            </p>
        </div>
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <a href="javascript:void(0);" class="d-inline-flex align-items-center me-3 edit-review" data-bs-toggle="modal" data-bs-target="#edit_review"><i class="isax isax-edit-2 me-1"></i>Edit</a>
                <a href="javascript:void(0);" class="d-inline-flex align-items-center delete-review" data-bs-toggle="modal" data-bs-target="#delete_modal"><i class="isax isax-trash me-1"></i>Delete</a>
            </div>
        </div>
    </div>
        
    <!-- /pagination -->
    <div class="row align-items-center mt-3">
        <div class="col-md-2">
          <p class="pagination-text">Page 1 of 2</p>
        </div>
        <div class="col-md-10">
            <ul class="pagination lms-page justify-content-center justify-content-md-end mt-2 mt-md-0">
                <li class="page-item prev">
                    <a class="page-link" href="javascript:void(0)" tabindex="-1"><i class="fas fa-angle-left"></i></a>
                </li>
                <li class="page-item first-page active">
                    <a class="page-link" href="javascript:void(0)">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="javascript:void(0)">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="javascript:void(0)">3</a>
                </li>
                <li class="page-item next">
                    <a class="page-link" href="javascript:void(0)"><i class="fas fa-angle-right"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /pagination -->


    			<!-- Edit Review -->
			<div class="modal fade" id="edit_review">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<h5>Edit Review</h5>
							<button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
								<i class="isax isax-close-circle5"></i>
							</button>
						</div>
						<div class="modal-body pb-0">                    
							<div class="mb-3">
								<label class="form-label fs-14">Your Rating <span class="text-danger">*</span></label>
								<div class="selection-wrap">
									<div class="d-inline-block">
										<div class="rating-selction">
											<input type="radio" name="rating" value="5" id="rating5" checked>
											<label for="rating5"><i class="fa-solid fa-star"></i></label>
											<input type="radio" name="rating" value="4" id="rating4" checked>
											<label for="rating4"><i class="fa-solid fa-star"></i></label>
											<input type="radio" name="rating" value="3" id="rating3" checked>
											<label for="rating3"><i class="fa-solid fa-star"></i></label>
											<input type="radio" name="rating" value="2" id="rating2">
											<label for="rating2"><i class="fa-solid fa-star"></i></label>
											<input type="radio" name="rating" value="1" id="rating1">
											<label for="rating1"><i class="fa-solid fa-star"></i></label>
										</div>
									</div>
								</div>
							</div>
							<div class="mb-3">
								<label class="form-label fs-14">Write Your Review <span class="text-danger">*</span></label>
								<textarea class="form-control lh-base" rows="3">This is the second Photoshop course I have completed with Nancy Duarte. Worth every penny and recommend it highly. To get the most out of this course, its best to to take the Beginner to Advanced course first. The sound and video quality is of a good standard. Thank you Nancy Duarte.</textarea>
							</div>
						</div>
						<div class="modal-footer">
							<a href="javascript:void(0);" class="btn btn-md bg-gray-100 rounded-pill me-2" data-bs-dismiss="modal">Cancel</a>   
							<button type="submit" class="btn btn-md btn-secondary rounded-pill" data-bs-dismiss="modal">Save Changes</button>                
						</div>
					</div>
				</div>
			</div>
			<!-- /Edit Review -->

			<!-- Delete Modal -->
			<div class="modal fade" id="delete_modal">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-body text-center custom-modal-body">
							<span class="avatar avatar-lg bg-secondary-transparent rounded-circle mb-2">
								<i class="isax isax-trash fs-24 text-danger"></i>
							</span>
							<div>
								<h4 class="mb-2">Delete Review</h4>
								<p class="mb-3">Are you sure you want to delete review?</p>
								<div class="d-flex align-items-center justify-content-center">
									<a href="javascript:void(0);" class="btn bg-gray-100 rounded-pill me-2" data-bs-dismiss="modal">Cancel</a>
									<a href="javascript:void(0);" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Yes, Remove All</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Delete Modal -->