
    <div class="row">
        <div class="col-xxl col-lg-4 col-md-6">
            <div class="card bg-success">
                <div class="card-body">
                    <h6 class="fw-medium mb-1 text-white">Active Courses</h6>
                    <h4 class="fw-bold text-white">45</h4>
                </div>
            </div>
        </div>
        <div class="col-xxl col-lg-4 col-md-6">
            <div class="card bg-secondary">
                <div class="card-body">
                    <h6 class="fw-medium mb-1 text-white">Pending Courses</h6>
                    <h4 class="fw-bold text-white">21</h4>
                </div>
            </div>
        </div>
        <div class="col-xxl col-lg-4 col-md-6">
            <div class="card bg-info">
                <div class="card-body">
                    <h6 class="fw-medium mb-1 text-white">Draft Courses</h6>
                    <h4 class="fw-bold text-white">15</h4>
                </div>
            </div>
        </div>
        <div class="col-xxl col-lg-4 col-md-6">
            <div class="card bg-skyblue">
                <div class="card-body">
                    <h6 class="fw-medium mb-1 text-white">Free Courses</h6>
                    <h4 class="fw-bold text-white">16</h4>
                </div>
            </div>
        </div>
        <div class="col-xxl col-lg-4 col-md-6">
            <div class="card bg-purple">
                <div class="card-body">
                    <h6 class="fw-medium mb-1 text-white">Paid Courses</h6>
                    <h4 class="fw-bold text-white">21</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="page-title d-flex align-items-center justify-content-between">
        <h5 class="fw-bold">Courses</h5>
        <div class="d-flex align-items-center list-icons">
            <a [routerLink]="routes.instructorCourse" class="active me-2"><i class="isax isax-task"></i></a>
            <a [routerLink]="routes.instructorCourseGrid"><i class="isax isax-element-3"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="mb-3">
                <div class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle text-gray-6 btn  rounded border d-inline-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
                        Status
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end p-3">
                        <li>
                            <a href="javascript:void(0);" class="dropdown-item rounded-1">Published</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="dropdown-item rounded-1">Pending</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="dropdown-item rounded-1">Draft</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-icon mb-3">
                <span class="input-icon-addon">
                    <i class="isax isax-search-normal-14"></i>
                </span>
                <input  [(ngModel)]="searchDataValue" [ngModelOptions]="{ standalone: true }" type="search" (ngModelChange)="searchData(searchDataValue)" class="form-control form-control-md" placeholder="Search">
            </div>
        </div>
    </div>
    <div class="table-responsive custom-table">
        <table matSort (matSortChange)="sortData($event)" class="table">
            <thead class="thead-light">
                <tr>
                    <th>Course Name</th>
                    <th>Students</th>
                    <th>Price</th>
                    <th>Ratings</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for(data of tableData;track data){
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                        
                            <a [routerLink]="routes.courseDetails" class="avatar avatar-lg me-2 flex-shrink-0"><img class="img-fluid object-fit-cover" src="assets/img/course/{{data.img}}" alt=""></a>
                           
                            <div>
                                <h6 class="fw-medium mb-2"><a [routerLink]="routes.courseDetails">{{data.courseName}}</a></h6>
                                <div class="d-flex align-items-center">
                                    <span class="d-inline-flex fs-12 align-items-center me-2 pe-2 border-end"><i class="isax isax-video-circle me-1 text-gray-9 fw-bold"></i>{{data.lessons}}</span>
                                    <span class="d-inline-flex fs-12 align-items-center me-2 pe-2 border-end"><i class="isax isax-message-question me-1 text-gray-9 fw-bold"></i>{{data.quizzes}}</span>
                                    <span class="d-inline-flex fs-12 align-items-center"><i class="isax isax-clock me-1 text-gray-9 fw-bold"></i>{{data.duration}}</span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>{{data.students}}</td>
                    <td>{{data.price}}</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <i class="fa-solid fa-star fs-12 filled text-warning me-1"></i>
                            <span>{{data.ratings}}</span>
                        </div>
                    </td>
                    <td>
                        <span class="badge badge-sm d-inline-flex align-items-center me-1" [ngClass]="data.status==='Published'?'bg-success':data.status==='Pending'?'bg-skyblue':'bg-info'">
                            <i class="fa-solid fa-circle fs-5 me-1"></i>
                            {{data.status}}
                        </span>
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                            <a href="javascript:void(0);" class="d-inline-flex fs-14 me-1 action-icon"><i class="isax isax-edit-2"></i></a>
                            <a href="javascript:void(0);" class="d-inline-flex fs-14 action-icon" data-bs-toggle="modal" data-bs-target="#delete_modal"><i class="isax isax-trash"></i></a>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <!-- /pagination -->
    <app-custom-pagination/>
    <!-- /pagination -->


    			<!-- Delete Modal -->
			<div class="modal fade" id="delete_modal">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-body text-center custom-modal-body">
							<span class="avatar avatar-lg bg-danger-transparent rounded-circle mb-2">
								<i class="isax isax-trash fs-24 text-danger"></i>
							</span>
							<div>
								<h4 class="mb-2">Delete Course</h4>
								<p class="mb-3">Are you sure you want to delete course?</p>
								<div class="d-flex align-items-center justify-content-center">
									<a href="javascript:void(0);" class="btn bg-gray-100 rounded-pill me-2" data-bs-dismiss="modal">Cancel</a>
									<a href="javascript:void(0);" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Yes, Delete</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Delete Modal -->