<div class="main-wrapper">
  <div class="login-content">
      <div class="row">
          <!-- Login Banner -->
          <div class="col-md-6 login-bg d-none d-lg-flex">
              <div class="login-carousel">
                <ngx-slick-carousel [config]="authSlider">
                  @for (slide of welcomeLogin; track slide) {
                    <div ngxSlickItem>
                      <div class="login-carousel-section mb-3">
                          <div class="login-banner">
                              <img [src]="slide.img" class="img-fluid" alt="Logo">
                          </div>
                          <div class="mentor-course text-center">
                              <h3 class="mb-2">{{slide.content1}} <br>{{slide.content2}}<span class="text-secondary">{{slide.content3}}</span> {{slide.content4}}</h3>
                              <p>{{slide.paragraph}}</p>
                          </div>
                      </div>
                  </div>
                  }
                </ngx-slick-carousel>
                  
                  
              </div>
          </div>
          <!-- /Login Banner -->

          <div class="col-md-6 login-wrap-bg">
              <!-- Login -->
              <div class="login-wrapper">
                  <div class="loginbox">
                      <div class="w-100">
                          <div class="d-flex align-items-center justify-content-between login-header">
                              <img src="assets/img/logo.svg" class="img-fluid" alt="Logo">
                              <a [routerLink]="routes.home" class="link-1">Back to Home</a>
                          </div>
                          <h1 class="fs-32 fw-bold topic">Sign into Your Account</h1>
                          <form (ngSubmit)="directIndex()" class="mb-3 pb-3">
                              <div class="mb-3 position-relative">
                                  <label class="form-label">Email<span class="text-danger ms-1">*</span></label>
                                  <div class="position-relative">
                                      <input type="email" class="form-control form-control-lg">
                                      <span><i class="isax isax-sms input-icon text-gray-7 fs-14"></i></span>
                                  </div>
                              </div>
                              <div class="mb-3 position-relative">
                                  <label class="form-label">Password <span class="text-danger ms-1">*</span></label>
                                  <div class="position-relative" id="passwordInput">
                                      <input [type]="password ? 'text' : 'password'" class="pass-inputs form-control form-control-lg">
                                      <span tabindex="0" (click)="togglePassword()" (keydown.enter)="togglePassword()" class="isax toggle-passwords fs-14" [ngClass]="password ? 'isax-eye' : 'isax-eye-slash'"></span>
                                  </div>	
                                  
                              </div>
                              <div class="d-flex align-items-center justify-content-between mb-4">
                                  <div class="remember-me d-flex align-items-center">
                                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                      <label class="form-check-label ms-2" for="flexCheckDefault">
                                          Remember Me
                                      </label>
                                  </div>
                                  <div class="">
                                      <a [routerLink]="routes.forgot_password" class="link-2">
                                          Forgot Password ?
                                      </a>
                                  </div>
                              </div>
                              <div class="d-grid">
                                  <button class="btn btn-secondary btn-lg" type="submit">Login <i class="isax isax-arrow-right-3 ms-1"></i></button>
                              </div>
                          </form>

                          <div class="d-flex align-items-center justify-content-center or fs-14 mb-3">
                              Or
                          </div>

                          <div class="d-flex align-items-center justify-content-center mb-3">
                              <a href="javascript:void(0);" class="btn btn-light me-2"><img src="assets/img/icons/google.svg" alt="img" class="me-2">Google</a>
                              <a href="javascript:void(0);" class="btn btn-light"><img src="assets/img/icons/facebook.svg" alt="img" class="me-2">Facebook</a>
                          </div>

                          <div class="fs-14 fw-normal d-flex align-items-center justify-content-center">
                              Don't you have an account?<a [routerLink]="routes.register" class="link-2 ms-1"> Sign up</a>
                          </div>

                          <!-- /Login -->

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>