.home-3 {
	.botton-1 {
		font-size: $font-size-16;
		font-weight: $font-weight-medium;
		padding: 9px 16px;
		border-radius: 40px;
		background: $secondary;
		color: $white;
		@include respond-below (md) {
			font-size: $font-size-14;
			font-weight: $font-weight-normal;
			padding: 6px 12px;
		}
		&:hover {
			background: $primary;
		}
	}

	.section-header-1 {
		display: flex;
		margin-bottom: 40px;
		@include respond-below(md) {
			margin-bottom: 30px;
		}
		@include respond-below(sm) {
			margin-bottom: 24px;
			display: block;
		}
		.section-sub-head {
			h2 {
				font-size: $font-size-32;
				margin-bottom: 0;
				font-weight: $font-weight-bold;
				color: $gray-900;
				line-height: 48px;
				@include respond-below(md) {
					font-size: $font-size-28;
				}
				@include respond-below(sm) {
					font-size: $font-size-24;
				}
			}
			span {
				color: $secondary;
				font-size: $font-size-18;
				font-weight: $font-weight-bold;
				display: block;
				line-height: 24px;
			}
			@include respond-below(sm) {
				margin-bottom: 24px;
				display: block;
			}
		}
	}

	.home-3-header {
		position: fixed;
		width: 100%;
	}
	.home-slide-text {
		position: relative;
		z-index: 1;
		h5 {
			color: $gray-500;
			font-size: $font-size-18;
			font-weight: $font-weight-bold;
			margin-bottom: 10px;
		}
		p {
			margin-bottom: 30px;
			@include respond-below(sm) {
				font-size: 14px;
				margin-bottom: 2px;
			}
		}
	}
	.banner-image {
		img {
			width: 100%;
		}
		@include respond-below(lg) {
			display: none;
		}
		
	}
	.location-search {
		.form-control {
			padding-left: 160px;
		}
	}
	.bg-search {
		background-color: #6255a4;
		border: 1px solid #6255a4;
		color: #fff;
		a {
			font-size: $font-size-14;
			color: #fff;
		}
		&:hover {
			background-color: #54469f;
			border: 1px solid #54469f;
			color: #fff;
		}
	}
	.trust-user {
		position: relative;
		z-index: 1;
		h5 {
			color: $gray-500;
			margin-bottom: 10px;
		}
	}
	.banner-content {
		margin-bottom: 30px;
		position: relative;
		z-index: 1;
		.form-inner {
			padding: 10px;
			background-color: $white;
			border-radius: 35px;
			width: 100%;
			border: 0;
			max-width: 740px;
			@include respond-below(sm) {
				@include rounded(10px);
			}
		}
		.input-group {
			background: $white;
			border-radius: 130px;
			padding-right: 12px;
			@include respond-below(sm) {
				display: block;
				padding: 0;
			}
			.search-icon {
				display: flex;
				align-items: center;
				color: $secondary;
				@include respond-below(sm) {
					display: none;
				}
			}
			.form-control {
				&::placeholder {
					color: $gray-400;
				}
			}
			.input-group-prepend {
				margin-left: 0;
			}
		}
		.form-control {
			background: $white;
			border-radius: 40px;
			border: 0;
			height: 44px;
			color: $gray-900;
			font-size: $font-size-14;
			margin-left: 10px;
			&.catecory-mentor {
				background: $secondary-100;
				margin: 0px 10px;
				font-size: $font-size-14;
				color: #22100D;
			}
			@include respond-below(sm) {
				width: 100%;
				margin: 0;
			}
		}
		.select2-container--focus {
			.select2-selection--single {
				background-color: $secondary-100 !important;
			}
		}
		.select2-container {
			border-radius: 50px !important;
			background-color: $secondary-100;
			z-index: unset;
			.select2-selection--single {
				border: 0;
				align-items: center;
				display: flex;
				background: transparent;
				height: 44px;
				justify-content: end;
				@include respond-below(sm) {
					width: 100%;
				}
				.select2-selection__rendered {
					font-size: $font-size-14;
					padding-right: 15px;
				}
			}
		}
		.select2-container--default {
			&.select2-container--open {
				&.select2-container {
					border-radius: 3px;
				}
			}
			.select2-selection--single {
				border-radius: 50px !important;
				.select2-selection__arrow {
					top: auto;
				}
			}
		}
		.sub-btn {
			background: $secondary;
			border-radius: 50px !important;
			font-weight: bold;
			border-color: $secondary;
			margin: 0px;
			font-size: $font-size-16;
			line-height: 18px;
			padding: 10px 15px;
			color: #fff;
			width: 44px;
			&:hover {
				background: $primary !important;
				border-color: $primary !important;
			}
			@include respond-below(sm) {
				width: 100%;
			}
		}
	}
	.rate-head {
		h2 {
			margin-right: 20px;
			font-size: 48px;
			font-weight: $font-weight-bold;
			margin-bottom: 0;
			@include respond-below(md) {
				font-size: 36px;
				line-height: 38px;
			}
			@include respond-below(sm) {
				font-size: 28px;
				line-height: 32px;
			}
		}
	}
	.trust-rating {
		.rating {
			margin-bottom: 0;
			i {
				padding: 0 8px 0 0;
			}
		}
	}
	.rating {
		list-style: none;
		margin: 0 0 7px;
		padding: 0;
		width: 100%;
		h2 {
			font-size: 48px;
			font-weight: $font-weight-bold;
			margin: 0 8px 0 0;
			@include respond-below(md) {
				font-size: 36px;
				line-height: 38px;
			}
			@include respond-below(sm) {
				font-size: 28px;
				line-height: 32px;
			}
		}
		i {
			color: #dedfe0;
			&.filled {
				color: #FFB54A;
			}
		}
	}
	.drop-detail {
		width: 174px;
		display: flex;
		margin: 0px 17px;
		border-radius: 50px !important;
		border: 0;
		height: 44px;
		.form-select {
			border: 0;
			border-radius: 50px;
			background-color: $secondary-100;
			font-size: $font-size-14;
			&:focus {
				box-shadow: none;
			}
		}
		@include respond-below(sm) {
			width: 100%;
			margin: 0 0 5px;
		}
	}
	.select2-dropdown {
		border: 1px solid $secondary-100;
	}
	.select2-container--default {
		.select2-selection--single {
			.select2-selection__arrow {
				b {
					border-color: #22100D;
					border-style: solid;
					border-width: 0 2px 2px 0;
					padding: 3px;
					transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
					margin-top: -5px;
					margin-right: -11px;
				}
			}
		}
		&.select2-container--open {
			.select2-selection--single {
				.select2-selection__arrow {
					b {
						border-color: #1B2559;
						border-width: 2px 0 0 2px;
						padding: 3px;
						margin-top: 1px;
					}
				}
			}
		}
		.select2-results__option--highlighted[aria-selected] {
			background-color: $secondary-100;
			color: #22100D;
			font-size: $font-size-14;
		}
	}
	.select2-results__option {
		font-size: $font-size-14;
	}
	.banner-content .sub-btn:hover, 
	.banner-content .sub-btn:focus {
		background: #fc7f50;
		border-color: #fc7f50;
	}
	.section-sub-head {
		h2 {
			font-size: $font-size-32;
			margin-bottom: 0;
			font-weight: $font-weight-bold;
			color: $gray-900;
			letter-spacing: 0.9px;
		}
		span {
			color: $secondary;
			font-size: $font-size-16;
			font-weight: $font-weight-bold;
			padding-bottom: 18px;
			display: block;
			letter-spacing: 0.9px;
		}
	}
	.section-text {
		max-width: 700px;
		color: $gray-500;
		font-size: $font-size-16;
		font-weight: $font-weight-medium;
	}
	.online-course {
		border-radius: 20px;
		padding: 25px;
		position: relative;
		background: $white;
		h4 {
			margin-bottom: 0;
			font-size: $font-size-24;
			font-weight: $font-weight-bold;
		}
	}
	.course-inner-content {
		margin-right: 20px;
		h4 {
			margin-bottom: 8px;
			font-weight: $font-weight-bold;
			color: $gray-900;
		}
		p {
			color: $gray-500;
			font-size: $font-size-16;
			margin-bottom: 0;
		}
	}
	.course-radius {
		border-radius: 20px;
		width: 100%;
		border: 1px solid #e9ecef;
	}
	.blur-border {
		padding: 3px;
		border-radius: 10px;
		&.course-radius {
			padding: 1px;
			border-radius: 20px;
		}
	}
	.course-full-width {
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		position: relative;
		top: 0;
		transition: top ease 0.5s;
		&:hover {
			top: -10px;
			transition: top ease 0.5s;
		}
	}
	.student-course {
		position: relative;
		margin-top: -60px;
	}
	.how-it-works {
		background: $white;
		padding: 80px 0;
		position: relative;
		@include respond-below(lg) {
			padding: 50px 0;
		}
	}
	.feature-box {
		position: relative;
		z-index: 9;
		width: 100%;
		margin-bottom: 58px;
		background: #FFFFFF;
		border: 1px solid #e9ecef;
		box-shadow: -11.729px -11.729px 32px rgba(255, 255, 255, 0.15);
		border-radius: 10px;
		margin-left: 30px;
	}
	.feature-bg {
		padding: 25px;
		width: 100%;
		border-radius: 10px;
		transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		-webkit-transition: all 0.5s ease;
		margin-left: 30px;
		&:hover {
			background: #413655;
			transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			-ms-transition: all 0.5s ease;
			-webkit-transition: all 0.5s ease;
		}
		p {
			color: $gray-500;
			font-size: $font-size-14;
			transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			-ms-transition: all 0.5s ease;
			-webkit-transition: all 0.5s ease;
			margin-bottom: 0px;
		}
	}
	.slick-dots {
		button {
			width: 15px;
			height: 8px;
			border-radius: 50px;
			background: $gray-100;
		}
		.slick-active {
			width: 50px;
			height: 8px;
			border-radius: 50px;
			background: $secondary;
			button {
				background: transparent;
			}
		}
	}
	.slick-slide {
		margin-left: 24px;
		@include respond-below(sm) {
			margin-left: 0;
		}
	}

	.feature-bg:hover p,
	.feature-bg:hover .feature-text {
		color: #fff;
		transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		-webkit-transition: all 0.5s ease;
	}
	.feature-header {
		margin-bottom: 10px;
	}
	.feature-icon {
		margin-left: 15px;
		font-size: 30px;
		width: 105px;
		border-radius: 100px;
		height: 105px;
		display: flex;
		display: -webkit-flex;
		display: -ms-flex;
		justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		color: #fff;
		margin: 0 auto;
	}
	.mentoring-course {
		.slick-dots {
			bottom: -40px;
		}
	}
	.feature-heading {
		text-transform: uppercase;
		font-size: $font-size-14;
		font-weight: $font-weight-bold;
	}
	.feature-text {
		font-size: $font-size-20;
		color: $gray-900;
		font-weight: $font-weight-bold;
		margin-top: 24px;
		transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		-webkit-transition: all 0.5s ease;
		margin-bottom: 4px;
	}
	.new-course {
		padding: 80px 0px 56px;
		position: relative;
		z-index: 1;
		overflow: hidden;
		&:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			background-repeat: no-repeat;
		}
		@include respond-below(lg) {
			padding: 50px 0 26px;
		}
		.home-three-sec-bg {
			.sec-bg-01 {
				position: absolute;
				right: 0;
				top: 0;
				z-index: -1;
			}
			.sec-bg-02 {
				position: absolute;
				left: 0;
				top: 0;
				z-index: -1;
			}
		}
		.course-item {
			.btn-xl {
				@include respond-below(xl) {
					padding: 9px 9px;
					font-size: $font-size-14;
				} 
			}
		}
		@include respond-below(md) {
			padding-bottom: 0;
		}
	}
	.course-info .course-view img,
	.course-info .rating-img img {
		width: 18px;
	}
	.course-view {
		margin-left: auto;
	}
	.color-active {
		color: red;
		font-weight: $font-weight-bold;
	}
	.average-rating {
		span {
			color: $gray-500;
		}
	}
	.master-skill {
		padding: 80px 0px 0px;		
		overflow: hidden;
        @include respond-below(lg) {
			padding: 50px 0 0;
		}
	}
	.rotate-box {
		position: relative;
		transform: rotate(30deg);
	}
	.certified-item {
		border: 1px solid $border-color;
		@include rounded(5px);
		padding: 20px;
		p {
			margin-bottom: 0;
			color: $gray-900;
			margin-right: 10px;
			font-weight: $font-weight-medium;
		}
	}
	.certified-group {
		border-radius: 5px;
		position: relative;
		top: 0;
		transition: top ease 0.5s;
		width: 100%;
		border: 1px solid #e9ecef;
		&:hover {
			top: -10px;
		}
	}
	.certified-img {
		background: $secondary-transparent;
		border-radius: 50%;
		width: 60px;
		height: 60px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		flex-shrink: 0;
	}
	.get-certified {
		background: $white;
		padding: 20px;
		border-radius: 5px;
		p {
			margin-bottom: 0;
			color: $gray-900;
			font-size: $font-size-16;
			margin-right: 10px;
			font-weight: $font-weight-medium;
		}
	}
	.career-img {
		position: relative;
		text-align: center;
		.master-bg {
			position: absolute;
			z-index: -1;
		}
		.float-img-01 {
			position: absolute;
			top: -55px;
			left: 0;
		}
		.float-img-02 {
			position: absolute;
			top: -70px;
			right: 0;
		}
		.float-img-03 {
			position: absolute;
			bottom: 105px;
    		left: -34px;
		}
		.float-img-04 {
			position: absolute;
			bottom: 0;
			right: -35px;
		}
		@include respond-below(lg) {
			display: none;
		}
	}
	.career-group {
		margin-bottom: 80px;
		@include respond-below(lg) {
			margin-bottom: 50px;
		}
	}
	.trend-course {
		padding: 80px 0px;
		position: relative;
		z-index: 1;
		overflow: hidden;
		@include respond-below(lg) {
			padding: 50px 0;
		}
		.home-three-sec-bg {
			.sec-bg-01 {
				position: absolute;
				left: 0;
				top: 0;
				z-index: -1;
			}
			.sec-bg-02 {
				position: absolute;
				right: 0;
				top: 0;
				z-index: -1;
			}
		}
	}
	.trending-course {
		position: relative;
		.slick-dots {
			bottom: -40px;
		}
	}
	.trend-box {
		background: transparent;
		padding: 0;
	}
	.feature-instructors {
		padding-top: 80px;
		@include respond-below(lg) {
			padding-top: 50px;
		}
		.instructor-item.instructor-item-two {
			box-shadow: none;
		}
	}
	.feature-head {
		margin: auto;
		h2 {
			margin-bottom: 25px;
		}
	}
	.instructors-course {
		.slick-dots {
			bottom: -40px;
		}
	}
	.slick-dots { 
		bottom: -40px;
	}
	.student-count {
		i {
			display: flex;
			align-items: center;
			color: #FF5364;
			margin-left: 17px;
		}
		span {
			color: $gray-500;
			font-size: $font-size-16;
		}
	}
	.lead-companies {
		padding: 80px 0;
		.owl-carousel {
			.owl-stage {
				display: flex;
				display: -webkit-flex;
				-webkit-align-items: center;
				align-items: center;
				justify-content: center;
				-webkit-justify-content: center;
			}
		}@include respond-below(lg) {
			padding: 50px 0;
		}
	}
	.owl-carousel {
		.owl-item {
			.lead-img {
				img {
					width: auto;
				}
			}
		}
	}
	.trust-lead {
		.get-certified {
			padding: 20px;
		}
		.certified-img {
			img {
				top: inherit;
				left: inherit;
			}
		}
	}
	.share-knowledge {
		padding: 80px 0px;
		position: relative;
		z-index: 1;
		overflow: hidden;
		@include respond-below(lg) {
			padding: 50px 0;
		}
		.home-three-sec-bg {
			.sec-bg-01 {
				position: absolute;
				left: 0;
				top: 0;
				z-index: -1;
			}
			.sec-bg-02 {
				position: absolute;
				right: 0;
				top: 0;
				z-index: -1;
			}
		}
		.knowledge-img {
			padding-right: 24px;
			@include respond-below(lg) {
				padding-left: 0;
			}
		}
	}
	.join-mentor {
		h2 {
			margin-bottom: 8px;
		}
		p {
			margin-bottom: 16px;
		}
	}
	.latest-blog {
		padding: 80px 0px;
		position: relative;
		z-index: 1;
		overflow: hidden;
		@include respond-below(lg) {
			padding: 50px 0;
		}
		.home-three-sec-bg {
			.sec-bg-01 {
				position: absolute;
				left: 0;
				top: 0;
				z-index: -1;
			}
			.sec-bg-02 {
				position: absolute;
				right: 0;
				top: 0;
				z-index: -1;
			}
		}
	}
	.blogs-slide {
		.blog-widget {
			border: 1px solid #e9ecef;
			margin-bottom: 24px;
			padding: 0;
		}
		.slick-dotted.slick-slider {
			margin-bottom: 0;
		}
		.slick-dots {
			bottom: -10px;
		}
	}
	.blog-widget {
		.instructors-img {
			padding: 0;
		}
	}
	.enroll-group {
		background: linear-gradient(90deg, rgba(161, 196, 253, 0.79) 0%, rgba(194, 233, 251, 0.36) 100%);
		backdrop-filter: blur(35px);
		border-radius: 20px;
		padding: 24px;
		margin: 80px 0px 50px;
		@include respond-below(lg) {
			margin: 50px 0;
		}
		.enroll-course {
			margin-bottom: 0px;
			.enroll-img {
				background: $white;
				@include rounded(10px);
				width: 60px;
				height: 60px;
				border: 4px solid $gray-100;
				margin-left: 20px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			@include respond-below(md) {
				justify-content: center;
			}
		}
	}
	.course-count {
		color: $gray-500;
		p {
			margin-bottom: 0;
			font-size: $font-size-18;
			font-weight: $font-weight-semibold;
			color: $gray-500;
		}
		h3 {
			font-weight: $font-weight-bold;
			font-size: $font-size-32;
			margin-bottom: 4px;
			color: $primary-900;
		}
	}
	.icon-group {
		padding-top: 17px;
		.enroll-course {
			margin-bottom: 24px;
			position: relative;
			top: 0;
			transition: top ease 0.5s;
			cursor: pointer;
			&:hover {
				top: -10px;
			}
		}
	}
	.enroll-course {
		margin-bottom: 24px;
	}
	.user-love {
		padding: 80px 0px;
		background: $gray-900;
		min-height: 500px;
		.section-sub-head {
			span {
				color: $white;
				padding-bottom: 0;
				margin-bottom: 8px;
			}
			h2 {
				color: $white;
			}
		}
	}
	.white-header span,
	.white-header h2 {
		color: #fff;
	}
	.become-instructors {
		padding: 80px 0px 80px;
		position: relative;

		.become-instructors-bg1 {
			position: absolute;
			bottom: 0;
			left: 0;
		}
		.become-instructors-bg2 {
			position: absolute;
			bottom: 0;
			right: 0;
		}
		@include respond-below(lg) {
			padding: 50px 0;
		}
	}
	.student-mentor {
		background: #392C7D;
		padding: 40px 40px 0;
		border-radius: 20px;
		color: $gray-500;
		position: relative;
		h4 {
			font-size: $font-size-24;
			font-weight: $font-weight-bold;
			margin-bottom: 4px;
			color: $white;
		}
	}
	.top-instructors {
		padding-bottom: 40px;
		p {
			margin-bottom: 20px;
			color: $light;
		}
	}
	.yellow-mentor {
		background: $dark;
	}
	.testimonial-four {
		padding: 80px 0 0;
		position: relative;
		@include respond-below(lg) {
			padding: 50px 0 0;
		}
		&::before {
			content: "";
			background: $gray-900;
			height: 500px;
			width: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}
		.slick-list {
			border: 14px solid #ededed;
			max-width: 70%;
			margin: auto;
			border-radius: 45px;
			background-image: linear-gradient(142.13deg, rgba(255, 255, 255, 0.28) 1.8%, rgba(255, 255, 255, 0.31) 99.75%);
			backdrop-filter: blur(151.39px);
			@include respond-below (md) {
				max-width: 100%;
				@include rounded(20px);
				border-width: 10px;
			}
		}
		.testimonial-content {
			max-width: 85%;
			border: 0;
			background: none;
			margin: 0 auto;
			p {
				font-size: $font-size-20;
				color: $white;
				font-weight: $font-weight-medium;
				font-style: italic;
				margin-bottom: 43px;
				@include respond-below(lg) {
					font-size: $font-size-16;
					margin-bottom: 24px;
				}
			}
		}
		.h-four {
			padding-bottom: 140px;
		}
		.slick-slide {
			img {
				transform: scale(1, 1);
				-ms-transform: scale(1, 1);
				-webkit-transform: scale(1, 1);
			}
		}
		.slick-prev {
			left: 20%;
			z-index: 99;
			background: $white;
			width: 60px;
			height: 60px;
			border-radius: 0;
			&:before {
				font-family: "Font Awesome 5 Free";
				content: "\f060";
				color: $primary;
				font-weight: $font-weight-semibold;
			}
			@include respond-below(lg) {
				width: 40px;
				height: 40px;
			}
			@include respond-below (md) {
				left: 6%;
			}
		}
		.slick-next {
			right: 22%;
			background: $white;
			width: 60px;
			height: 60px;
			border-radius: 0;
			&:before {
				font-family: "Font Awesome 5 Free";
				content: "\f061";
				color: $primary;
				font-weight: $font-weight-semibold;
			}
			@include respond-below(lg) {
				width: 40px;
				height: 40px;
			}
			@include respond-below (md) {
				right: 6%;
			}
		}
	}
	.review {
		width: 100%;
	}
	.mentor-testimonial {
		z-index: 9;
		.slick-slide {
			margin-right: 0;
		}
	}
	.testimonial-bg-left {
		img {
			-webkit-transform: translate(-50% , -50%);
			-ms-transform: translate(-50% , -50%);
			transform: translate(-50% , 50%);
			position: absolute;
			top: 50%;
			left: 174px;
		}
	}
	.testimonial-bg-left, 
	.testimonial-bg-right, 
	.testimonial-bg-top {
		position: relative;
	}
	.testimonial-bg-right {
		img {
			-webkit-transform: translate(-50% , -50%);
			-ms-transform: translate(-50% , -50%);
			transform: translate(-50% , 50%);
			position: absolute;
			top: 50%;
			right: -125px;
		}
	}
	.testimonial-bg-top {
		img {
			-webkit-transform: translate(-50% , -50%);
			-ms-transform: translate(-50% , -50%);
			transform: translate(-50% , -50%);
			position: absolute;
			top: 50px;
			left: 38%;
		}
	}
	.user-img {
		margin-bottom: 5px;
		img {
			margin: auto;
			border-radius: 50px;
			width: 80px;
			height: 80px;
			border: 3px solid $white;
		}
		h6 {
			font-size: $font-size-18;
			font-weight: $font-weight-bold;
			margin-bottom: 5px;
		}
	}
	.testimonial-quotes {
		position: relative;
		right: -30px;
		z-index: 99;
		top: 0;
		margin-bottom: 15px;		
		@include respond-below(lg) {
			width: 60px;
		}
		@include respond-below(md) {
			width: 40px;
			right: 0;
		}
	}
	.testimonial-four .slick-prev, 
	.testimonial-four .slick-next {
		top: 62%;
		border-radius: 50px;
	}
	.testimonial-four .slick-prev:hover, 
	.testimonial-four .slick-next:hover, 
	.testimonial-four .swiper-button-prev:hover, 
	.testimonial-four .swiper-button-next:hover {
		color: #fff;
		background: $secondary;
		opacity: 1;
	}
	.testimonial-four .slick-prev:hover:before, 
	.testimonial-four .slick-prev:focus:before, 
	.testimonial-four .slick-next:hover:before, 
	.testimonial-four .slick-next:focus:before, 
	.testimonial-four .swiper-button-prev:hover:before, 
	.testimonial-four .swiper-button-next:hover:before {
		color: #fff;
		opacity: 1;
	}
	.testimonial-four .slick-next:focus, 
	.testimonial-four .slick-prev:focus {
		background: $secondary;
	}
	[dir='rtl'] {
		.testimonial-four {
			.slick-prev {
				&:before {
					content: '→';
				}
			}
			.slick-next {
				&:before {
					content: '←';
				}
			}
		}
	}
	.testimonial-all {
		padding: 40px;
		position: relative;
		@include respond-below(md) {
			padding: 24px;
		}
	}
	.testimonial-icon {
		position: relative;
		img {
			position: absolute;	
			right: -40px;
			top: 0px;
		}
	}
	.testimonial-user {
		h6 {
			margin-bottom: 5px;
			font-size: $font-size-18;
			font-weight: $font-weight-bold;
		}
		span {
			color: $gray-500;
			@include respond-below(md) {
				color: $white;
			}
		}
	}
	.mentor-img {
		img {
			height: 230px;
			bottom: 0;
			left: 40px;
			position: absolute;
		}
	}
}
.expert-item {
	border: 1px solid $border-color;
	@include rounded(20px);
	padding: 24px;
	display: flex;
	align-items: center;
	background: $white;
	position: relative;
	top: 0;
    transition: 0.5 	ease all;
	.expert-img {
		margin-left: 24px;
	}
	.expert-content {
		h4 {
			margin-bottom: 4px;
		}
	}
	&:hover {
		@include transform(translateY(10px));
		transition: 0.5 ease all;
	}
}
.blog-wrap {	
	background: $white;
	@include rounded(10px);
	margin-bottom: 50px;
	.blog-img {
		position: relative;
		overflow: hidden;
		z-index: 1;
		border-radius: 10px 10px 0 0;
		padding-bottom: 0;
		img {
			width: 100%;
			transform: translateZ(0);
			transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
		}
	}
	.blog-content {
		padding: 20px;
		h5 {
			margin-bottom: 0;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
		}
		.blog-info {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 8px;
		}
		.blog-category {
			font-weight: $font-weight-medium;
			color: $primary;
			text-decoration: underline;
		}
		.blog-date {
			i {
				margin-left: 8px;
				color: $secondary;
			}
		}
	}
	&:hover {
		.blog-img {
			img {
				-webkit-transform: scale(1.15);
				-moz-transform: scale(1.15);
				transform: scale(1.15);
			}
		}
	}
}

.footer.footer-three {
	background: $primary;
	p {
		color: $white;
		font-size: $font-size-16;
	}
	.footer-title {
		color: $white;
		position: relative;
		margin-bottom: 24px;
		&::before {
			position: absolute;
			content: "";
			height: 2px;
			width: 20px;
			background: $secondary;
			bottom: -8px;
			border-radius: 10px;
			right: 0;
		}
		&::after {
			position: absolute;
			content: "";
			height: 2px;
			width: 9px;
			background: $secondary;
			bottom: -8px;
			border-radius: 10px;
			right: 23px;
		}
	}
	a {
		color: $light;
	}
	.contact-infos {
		span {
			font-size: $font-size-14;
			font-weight: $font-weight-semibold;
			color: $light;
			margin-bottom: 4px;    
			display: block;
		}
		p {
			font-size: $font-size-14;
			color: $white;
		}
	}
	
.footer-bottom {
	background: $primary;
	border-top: 1px solid $primary-800;
	.copyright-text {
		p {
			font-size: $font-size-14;
			color: $light;
			
			a  {
				color: $secondary;
				&:hover {
					color: $white;
				}
			}
		}
		@include respond-below(md) {
			text-align: center;
		}
	}
	.privacy-link {
		display: flex;
		align-items: center;
		justify-content: end;
		@include respond-below(md) {
			justify-content: center;
		}
		a {
			display: block;
			font-size: $font-size-14;
			position: relative;
			margin: 0 8px 0 8px;
			padding: 0 0px 0 14px;
			color: $light;
			&:hover {
				color: $secondary;
			}
			&::after {
				content: "";
				width: 6px;
				height: 6px;
				border-radius: 50px;
				background: $secondary;
				position: absolute;
				top: 50%;
				@include transform(translateY(-50%));
				left: 0;
			}
			&:last-child {
				margin: 0;
				padding: 0;
				&::after {
					content: none;
				}
			}
		}
	}

}
}


@include respond-below (lg) {
	.home-3 .rate-head h2 {
		font-size: 36px;
	}
	.home-3 .rating h2 {
		font-size: 36px;
	}
	.home-3 .student-mentor {
		padding: 30px;
	}
	.home-3 .top-instructors {
		padding-bottom: 0;
	}
}
.home-3 {
	.privacy-link {
		display: flex;
		align-items: center;
		justify-content: end;
	}
}
.latest-blog {
	.blog-content {
		.blog-date {
			display: inline-flex;
			align-items: center;
		}
	}
}