<!-- Footer -->
<footer class="footer footer-one">

  <!-- Footer Top -->

    <div class="footer-top aos" data-aos="fade-up" data-aos-duration="1500">
      <app-footer-top-container></app-footer-top-container>
    </div>


  <!-- /Footer Top -->

  <!-- Footer Bottom -->
  <div class="footer-bottom">
    <div class="container">
      <div class="row row-gap-2">
        <div class="col-lg-5">
          <div class="text-center text-lg-start">									
            <p>Copyright 2025 © <span class="text-secondary">DreamsLMS</span>. All right reserved.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <ul class="d-flex align-items-center justify-content-center footer-link">
            <li><a [routerLink]="routes.page_term_condition">Terms & Conditions</a></li>
            <li><a [routerLink]="routes.page_privacy_policy">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="col-lg-3">
          <div class="social-icon">
            <a href="javascript:void(0);"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a>
            <a href="javascript:void(0);"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="javascript:void(0);"><i class="fa-brands fa-youtube"></i></a>
            <a href="javascript:void(0);"><i class="fa-brands fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Footer Bottom -->

</footer>
<!-- /Footer -->
