

                <div class="page-title d-flex align-items-center justify-content-between">
                    <h5 class="fw-bold">Students</h5>
                    <div class="d-flex align-items-center list-icons">
                        <a [routerLink]="routes.studentsList" class="me-2"><i class="isax isax-task"></i></a>
                        <a [routerLink]="routes.studentsGrid" class="active"><i class="isax isax-element-3"></i></a>
                        
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-md-4">
                        <div class="input-icon mb-3">
                            <span class="input-icon-addon">
                                <i class="isax isax-search-normal-14"></i>
                            </span>
                            <input type="email" class="form-control form-control-md" placeholder="Search">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="mb-3">
                                    <a [routerLink]="routes.studentsDetails"><img src="assets/img/students/student-01.jpg" class="rounded-3" alt=""></a>
                                </div>
                                <div class="d-flex align-items-center justify-content-between border-bottom mb-3 pb-3">
                                    <div>
                                        <h5 class="mb-2 fw-bold"><a [routerLink]="routes.studentsDetails">Ronald Richard</a></h5>
                                        <span class="text-info d-inline-flex align-items-center"><i class="isax isax-location me-1"></i><a href="javascript:void(0);" class="text-info text-decoration-underline stu-loc">Newyork</a></span>
                                    </div>
                                    <a href="javascript:void(0);" class="avatar avatar-md avatar-rounded border"><i class="isax isax-messages text-gray-9 fs-14"></i></a>
                                </div>
                                <div class="d-flex align-items-center justify-content-between fs-14">
                                    <span class="d-inline-flex align-items-center"><i class="isax isax-calendar-add5 text-primary me-1"></i>22 Aug 2025</span>
                                    <span class="d-inline-flex align-items-center"><i class="isax isax-teacher5 text-secondary me-1"></i>10 Courses</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="mb-3">
                                    <a [routerLink]="routes.studentsDetails"><img src="assets/img/students/student-02.jpg" class="rounded-3" alt=""></a>
                                </div>
                                <div class="d-flex align-items-center justify-content-between border-bottom mb-3 pb-3">
                                    <div>
                                        <h5 class="mb-2 fw-bold"><a [routerLink]="routes.studentsDetails">Mona Nancy</a></h5>
                                        <span class="text-info d-inline-flex align-items-center"><i class="isax isax-location me-1"></i><a href="javascript:void(0);" class="text-info text-decoration-underline stu-loc">Los Angels</a></span>
                                    </div>
                                    <a href="javascript:void(0);" class="avatar avatar-md avatar-rounded border"><i class="isax isax-messages text-gray-9 fs-14"></i></a>
                                </div>
                                <div class="d-flex align-items-center justify-content-between fs-14">
                                    <span class="d-inline-flex align-items-center"><i class="isax isax-calendar-add5 text-primary me-1"></i>15 Jul 2025</span>
                                    <span class="d-inline-flex align-items-center"><i class="isax isax-teacher5 text-secondary me-1"></i>08 Courses</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="mb-3">
                                    <a [routerLink]="routes.studentsDetails"><img src="assets/img/students/student-03.jpg" class="rounded-3" alt=""></a>
                                </div>
                                <div class="d-flex align-items-center justify-content-between border-bottom mb-3 pb-3">
                                    <div>
                                        <h5 class="mb-2 fw-bold"><a [routerLink]="routes.studentsDetails">Patrick Alleman</a></h5>
                                        <span class="text-info d-inline-flex align-items-center"><i class="isax isax-location me-1"></i><a href="javascript:void(0);" class="text-info text-decoration-underline stu-loc">Alabama</a></span>
                                    </div>
                                    <a href="javascript:void(0);" class="avatar avatar-md avatar-rounded border"><i class="isax isax-messages text-gray-9 fs-14"></i></a>
                                </div>
                                <div class="d-flex align-items-center justify-content-between fs-14">
                                    <span class="d-inline-flex align-items-center"><i class="isax isax-calendar-add5 text-primary me-1"></i>18 Jun 2025</span>
                                    <span class="d-inline-flex align-items-center"><i class="isax isax-teacher5 text-secondary me-1"></i>12 Courses</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="mb-3">
                                    <a [routerLink]="routes.studentsDetails"><img src="assets/img/students/student-04.jpg" class="rounded-3" alt=""></a>
                                </div>
                                <div class="d-flex align-items-center justify-content-between border-bottom mb-3 pb-3">
                                    <div>
                                        <h5 class="mb-2 fw-bold"><a [routerLink]="routes.studentsDetails">Olive Paxson</a></h5>
                                        <span class="text-info d-inline-flex align-items-center"><i class="isax isax-location me-1"></i><a href="javascript:void(0);" class="text-info text-decoration-underline stu-loc">Brisbane</a></span>
                                    </div>
                                    <a href="javascript:void(0);" class="avatar avatar-md avatar-rounded border"><i class="isax isax-messages text-gray-9 fs-14"></i></a>
                                </div>
                                <div class="d-flex align-items-center justify-content-between fs-14">
                                    <span class="d-inline-flex align-items-center"><i class="isax isax-calendar-add5 text-primary me-1"></i>03 May 2025</span>
                                    <span class="d-inline-flex align-items-center"><i class="isax isax-teacher5 text-secondary me-1"></i>07 Courses</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="mb-3">
                                    <a [routerLink]="routes.studentsDetails"><img src="assets/img/students/student-05.jpg" class="rounded-3" alt=""></a>
                                </div>
                                <div class="d-flex align-items-center justify-content-between border-bottom mb-3 pb-3">
                                    <div>
                                        <h5 class="mb-2 fw-bold"><a [routerLink]="routes.studentsDetails">Chris Thomas</a></h5>
                                        <span class="text-info d-inline-flex align-items-center"><i class="isax isax-location me-1"></i><a href="javascript:void(0);" class="text-info text-decoration-underline stu-loc">Newyork</a></span>
                                    </div>
                                    <a href="javascript:void(0);" class="avatar avatar-md avatar-rounded border"><i class="isax isax-messages text-gray-9 fs-14"></i></a>
                                </div>
                                <div class="d-flex align-items-center justify-content-between fs-14">
                                    <span class="d-inline-flex align-items-center"><i class="isax isax-calendar-add5 text-primary me-1"></i>14 Apr 2025</span>
                                    <span class="d-inline-flex align-items-center"><i class="isax isax-teacher5 text-secondary me-1"></i>04 Courses</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="mb-3">
                                    <a [routerLink]="routes.studentsDetails"><img src="assets/img/students/student-06.jpg" class="rounded-3" alt=""></a>
                                </div>
                                <div class="d-flex align-items-center justify-content-between border-bottom mb-3 pb-3">
                                    <div>
                                        <h5 class="mb-2 fw-bold"><a [routerLink]="routes.studentsDetails">Joyce Perron</a></h5>
                                        <span class="text-info d-inline-flex align-items-center"><i class="isax isax-location me-1"></i><a href="javascript:void(0);" class="text-info text-decoration-underline stu-loc">Ontoro</a></span>
                                    </div>
                                    <a href="javascript:void(0);" class="avatar avatar-md avatar-rounded border"><i class="isax isax-messages text-gray-9 fs-14"></i></a>
                                </div>
                                <div class="d-flex align-items-center justify-content-between fs-14">
                                    <span class="d-inline-flex align-items-center"><i class="isax isax-calendar-add5 text-primary me-1"></i>17 Mar 2025</span>
                                    <span class="d-inline-flex align-items-center"><i class="isax isax-teacher5 text-secondary me-1"></i>06 Courses</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /pagination -->
                <div class="row align-items-center">
                    <div class="col-md-2">
                    <p class="pagination-text">Page 1 of 2</p>
                    </div>
                    <div class="col-md-10">
                        <ul class="pagination lms-page justify-content-center justify-content-md-end mt-2 mt-md-0">
                            <li class="page-item prev">
                                <a class="page-link" href="javascript:void(0)" tabindex="-1"><i class="fas fa-angle-left"></i></a>
                            </li>
                            <li class="page-item first-page active">
                                <a class="page-link" href="javascript:void(0)">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)">3</a>
                            </li>
                            <li class="page-item next">
                                <a class="page-link" href="javascript:void(0)"><i class="fas fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /pagination -->
                                                

