
    <div class="page-title d-flex align-items-center justify-content-between">
        <h5 class="fw-bold">Announcements</h5>
        <div>
            <a href="javascript:void(0);" class="btn btn-secondary d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#add_announcement">
                <i class="isax isax-add-circle me-1"></i>Add Announcement
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="mb-3">
                <div class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle btn rounded border d-inline-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
                        Status
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end p-3">
                        <li>
                            <a href="javascript:void(0);" class="dropdown-item rounded-1">Published</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="dropdown-item rounded-1">Draft</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-icon mb-3">
                <span class="input-icon-addon">
                    <i class="isax isax-search-normal-14"></i>
                </span>
                <input  [(ngModel)]="searchDataValue" [ngModelOptions]="{ standalone: true }" type="search" (ngModelChange)="searchData(searchDataValue)" class="form-control form-control-md" placeholder="Search">
            </div>
        </div>
    </div>
    <div class="table-responsive custom-table">
        <table matSort (matSortChange)="sortData($event)"  class="table">
            <thead class="thead-light">
                <tr>
                    <th>Date</th>
                    <th>Announcements</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (data of tableData;track data){
                    <tr>
                        <td>{{data.date}}</td>
                        <td>
                            <div>
                                <h6 class="mb-1"><a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#view_announcement">{{data.announcement}}</a></h6>
                                <p>Course: {{data.course}}</p>
                            </div>
                        </td>
                        <td><span class="badge badge-sm d-inline-flex align-items-center" [ngClass]="data.status==='Published'?'bg-success':'bg-skyblue'"><i class="fa-solid fa-circle fs-5 me-1"></i>{{data.status}}</span></td>
                        <td>
                            <div class="d-flex align-items-center">
                                <a href="javascript:void(0);" class="d-inline-flex fs-14 me-1 action-icon"><i class="isax isax-edit-2" data-bs-toggle="modal" data-bs-target="#edit_announcement"></i></a>
                                <a href="javascript:void(0);" class="d-inline-flex fs-14 action-icon" data-bs-toggle="modal" data-bs-target="#delete_modal"><i class="isax isax-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


			<!-- Add Announcement -->
			<div class="modal fade" id="add_announcement">
				<div class="modal-dialog modal-dialog-centered modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="fw-bold">Add New Announcement</h5>
							<button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
								<i class="isax isax-close-circle5"></i>
							</button>
						</div>
						<form>
							<div class="modal-body">
								<div class="row">
									<div class="col-md-12">
										<div class="mb-3">
											<label class="form-label">Course <span class="text-danger"> *</span></label>
											<mat-select class="custom-mat-select select" placeholder="Select">
												<mat-option value="1">Select</mat-option>
												<mat-option value="1">Information About UI/UX Design Degree</mat-option>
												<mat-option value="1">Wordpress for Beginners - Master Wordpress Quickly</mat-option>
												<mat-option value="1">Introduction to Python Programming</mat-option>
											</mat-select>
										</div>
									</div>
									<div class="col-md-12">
										<div class="mb-3">
											<label class="form-label">Announcement Title <span class="text-danger"> *</span></label>
											<input type="text" class="form-control">
										</div>
									</div>
									<div class="col-md-12">
										<div class="mb-3">
											<label class="form-label">Description</label>
											<textarea class="form-control" placeholder="Enter Description"></textarea>
										</div>
									</div>
									<div class="col-md-12">
										<div class="mb-0">
											<label class="form-label">Status <span class="text-danger"> *</span></label>
											<mat-select class="custom-mat-select select" placeholder="Select">
												<mat-option value="1">Select</mat-option>
												<mat-option value="1">Published</mat-option>
												<mat-option value="1">Draft</mat-option>
											</mat-select>
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button class="btn bg-gray-100 rounded-pill me-2" type="button" data-bs-dismiss="modal">Cancel</button>
								<button class="btn btn-secondary rounded-pill" type="submit" data-bs-dismiss="modal">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- /Add Announcement -->

			<!-- Edit Announcement -->
			<div class="modal fade" id="edit_announcement">
				<div class="modal-dialog modal-dialog-centered modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="fw-bold">Edit Announcement</h5>
							<button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
								<i class="isax isax-close-circle5"></i>
							</button>
						</div>
						<form>
							<div class="modal-body">
								<div class="row">
									<div class="col-md-12">
										<div class="mb-3">
											<label class="form-label">Course <span class="text-danger"> *</span></label>
											<mat-select class="custom-mat-select select" placeholder="Information About UI/UX Design Degree">
												<mat-option value="1">Select</mat-option>
												<mat-option value="1">Information About UI/UX Design Degree</mat-option>
												<mat-option value="1">Wordpress for Beginners - Master Wordpress Quickly</mat-option>
												<mat-option value="1">Introduction to Python Programming</mat-option>
											</mat-select>
										</div>
									</div>
									<div class="col-md-12">
										<div class="mb-3">
											<label class="form-label">Announcement Title <span class="text-danger"> *</span></label>
											<input type="text" class="form-control" value="Welcome to Introduction to Programming">
										</div>
									</div>
									<div class="col-md-12">
										<div class="mb-3">
											<label class="form-label">Description</label>
											<textarea class="form-control">Enter Description</textarea>
										</div>
									</div>
									<div class="col-md-12">
										<div class="mb-0">
											<label class="form-label">Status <span class="text-danger"> *</span></label>
											<mat-select class="custom-mat-select select" placeholder="Published">
												<mat-option value="1">Select</mat-option>
												<mat-option value="1">Published</mat-option>
												<mat-option value="1">Draft</mat-option>
											</mat-select>
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button class="btn bg-gray-100 rounded-pill me-2" type="button" data-bs-dismiss="modal">Cancel</button>
								<button class="btn btn-secondary rounded-pill" type="submit" data-bs-dismiss="modal">Save Changes</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- /Edit Announcement -->

			<!-- Announcement Details -->
			<div class="modal fade" id="view_announcement">
				<div class="modal-dialog modal-dialog-centered modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="fw-bold">Announcement Details</h5>
							<button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
								<i class="isax isax-close-circle5"></i>
							</button>
						</div>
						<div class="modal-body">
							<div class="mb-3">
								<h6 class="mb-1">Course</h6>
								<p>Introduction to Programming - Python & Java</p>
							</div>
							<div class="mb-3">
								<h6 class="mb-1">Title</h6>
								<p>Guest Lecture Announcement</p>
							</div>
							<div class="mb-3">
								<h6 class="mb-1">Description</h6>
								<p>I am excited to inform you that we will be having a guest lecture from , an expert . 
									This will be an excellent opportunity to gain insight into and ask any questions you might have. 
									Please make every effort to attend, as participation will count towards.
								</p>
							</div>
							<div class="mb-0">
								<h6 class="mb-1">Added On</h6>
								<p>26 Jul 2025, 01:30 PM</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Announcement Details -->

			<!-- Delete Modal -->
			<div class="modal fade" id="delete_modal">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-body text-center custom-modal-body">
							<span class="avatar avatar-lg bg-danger-transparent rounded-circle mb-2">
								<i class="isax isax-trash fs-24 text-danger"></i>
							</span>
							<div>
								<h4 class="mb-2">Delete Announcements</h4>
								<p class="mb-3">Are you sure you want to delete announcements?</p>
								<div class="d-flex align-items-center justify-content-center">
									<a href="javascript:void(0);" class="btn bg-gray-100 rounded-pill me-2" data-bs-dismiss="modal">Cancel</a>
									<a href="javascript:void(0);" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Yes, Delete</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Delete Modal -->