
    <div class="page-title d-flex align-items-center justify-content-between">
        <h5>My Quiz Attempts</h5>
    </div>
            <div class="d-flex align-items-center justify-content-between border p-3 mb-3 rounded-2">
                <div>
                    <h6 class="mb-1"><a [routerLink]="routes.studentsQuizQuestion">Information About UI/UX Design Degree</a></h6>
                    <p class="fs-14">Number of Questions : 05</p>
                </div>
                <div>
                    <a [routerLink]="routes.studentsQuizQuestion" class="arrow-next"><i class="isax isax-arrow-right-1"></i></a>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-between border p-3 pb-3 mb-3 rounded-2">
                <div>
                    <h6 class="mb-1"><a [routerLink]="routes.studentsQuizQuestion">Learn JavaScript and Express to become a Expert</a></h6>
                    <p class="fs-14">Number of Questions : 10</p>
                </div>
                <div>
                    <a [routerLink]="routes.studentsQuizQuestion" class="arrow-next"><i class="isax isax-arrow-right-1"></i></a>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-between border p-3 pb-3 mb-3 rounded-2">
                <div>
                    <h6 class="mb-1"><a [routerLink]="routes.studentsQuizQuestion">Introduction to Python Programming</a></h6>
                    <p class="fs-14">Number of Questions : 08</p>
                </div>
                <div>
                    <a [routerLink]="routes.studentsQuizQuestion" class="arrow-next"><i class="isax isax-arrow-right-1"></i></a>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-between border p-3 pb-3 mb-3 rounded-2">
                <div>
                    <h6 class="mb-1"><a [routerLink]="routes.studentsQuizQuestion">Build Responsive Websites with HTML5 and CSS3</a></h6>
                    <p class="fs-14">Number of Questions : 05</p>
                </div>
                <div>
                    <a [routerLink]="routes.studentsQuizQuestion" class="arrow-next"><i class="isax isax-arrow-right-1"></i></a>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-between border p-3 pb-3 mb-3 rounded-2">
                <div>
                    <h6 class="mb-1"><a [routerLink]="routes.studentsQuizQuestion">Information About Photoshop Design Degree</a></h6>
                    <p class="fs-14">Number of Questions : 10</p>
                </div>
                <div>
                    <a [routerLink]="routes.studentsQuizQuestion" class="arrow-next"><i class="isax isax-arrow-right-1"></i></a>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-between border p-3 rounded-2">
                <div>
                    <h6 class="mb-1"><a [routerLink]="routes.studentsQuizQuestion">C# Developers Double Your Coding with Visual Studio</a></h6>
                    <p class="fs-14">Number of Questions : 07</p>
                </div>
                <div>
                    <a [routerLink]="routes.studentsQuizQuestion" class="arrow-next"><i class="isax isax-arrow-right-1"></i></a>
                </div>
            </div>
    <!-- /pagination -->
    <div class="row align-items-center mt-3">
        <div class="col-md-2">
          <p class="pagination-text">Page 1 of 2</p>
        </div>
        <div class="col-md-10">
            <ul class="pagination lms-page justify-content-center justify-content-md-end mt-2 mt-md-0">
                <li class="page-item prev">
                    <a class="page-link" href="javascript:void(0)" tabindex="-1"><i class="fas fa-angle-left"></i></a>
                </li>
                <li class="page-item first-page active">
                    <a class="page-link" href="javascript:void(0)">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="javascript:void(0)">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="javascript:void(0)">3</a>
                </li>
                <li class="page-item next">
                    <a class="page-link" href="javascript:void(0)"><i class="fas fa-angle-right"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /pagination -->