
    <div class="page-title d-flex align-items-center justify-content-between">
        <h5 class="fw-bold">Assignments</h5>
        <div>
            <a href="javascript:void(0);" class="btn btn-secondary d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#add_assignment">
                <i class="isax isax-add-circle me-1"></i>Add Assignment
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="mb-3">
                <div class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle text-gray-6 btn  rounded border d-inline-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
                        Status
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end p-3">
                        <li>
                            <a href="javascript:void(0);" class="dropdown-item rounded-1">Published</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="dropdown-item rounded-1">Draft</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-icon mb-3">
                <span class="input-icon-addon">
                    <i class="isax isax-search-normal-14"></i>
                </span>
                <input type="email" class="form-control form-control-md" placeholder="Search">
            </div>
        </div>
    </div>
    <div class="table-responsive custom-table">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Assignment Name</th>
                    <th>Total Marks</th>
                    <th>Total Submit</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (data of tableData;track data){

                    <tr>
                        <td>
                            <div>
                                <h6 class="mb-1"><a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#view_assignment">{{data.assignmentName}}</a></h6>
                                <p>Course: {{data.course}}</p>
                            </div>
                        </td>
                        <td>{{data.totalMarks}}</td>
                        <td>{{data.totalSubmit}}</td>
                        <td><span class="badge badge-sm d-inline-flex align-items-center me-1" [ngClass]="data.status==='Published'?'bg-success':'bg-skyblue'"><i class="fa-solid fa-circle fs-5 me-1"></i>{{data.status}}</span></td>
                        <td>
                            <div class="d-flex align-items-center">
                                <a href="javascript:void(0);" class="d-inline-flex fs-14 me-1 action-icon"><i class="isax isax-edit-2" data-bs-toggle="modal" data-bs-target="#edit_assignment"></i></a>
                                <a href="javascript:void(0);" class="d-inline-flex fs-14 action-icon" data-bs-toggle="modal" data-bs-target="#delete_modal"><i class="isax isax-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                }
                
            </tbody>
        </table>
    </div>

    <!-- Add Assignment -->
			<div class="modal fade" id="add_assignment">
				<div class="modal-dialog modal-dialog-centered modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="fw-bold">Add New Assignments</h5>
							<button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
								<i class="isax isax-close-circle5"></i>
							</button>
						</div>
						<form>
							<div class="modal-body pb-0">
								<div class="row">
									<div class="col-md-12">
										<div class="mb-3">
											<label class="form-label">Course <span class="text-danger"> *</span></label>
											<mat-select class="custom-mat-select select" placeholder="Select">
												<mat-option value="1">Select</mat-option>
												<mat-option value="1">Information About UI/UX Design Degree</mat-option>
												<mat-option value="1">Wordpress for Beginners - Master Wordpress Quickly</mat-option>
												<mat-option value="1">Introduction to Python Programming</mat-option>
											</mat-select>
										</div>
									</div>
									<div class="col-md-12">
										<div class="mb-3">
											<label class="form-label">Assingment Title <span class="text-danger"> *</span></label>
											<input type="text" class="form-control">
										</div>
									</div>
									<div class="col-md-12">
										<div class="mb-3">
											<label class="form-label">Description</label>
											<textarea class="form-control" placeholder="Enter Description"></textarea>
										</div>
									</div>
									<div class="col-md-12">
										<div class="mb-3">
											<label class="form-label">Instructions <span class="text-danger"> *</span></label>
											<textarea rows="4" class="form-control">Enter Instructions</textarea>
										</div>
									</div>
									<div class="col-md-6">
										<div class="mb-3 ngxdate">
											<label class="form-label">Last Date <span class="text-danger"> *</span></label>
											<div class="input-icon-end position-relative ">
												<input type="text" class="form-control datetimepicker" bsDatepicker container=".ngxdate" [bsConfig]="{ adaptivePosition: true }" placeholder="dd/mm/yyyy">
												<span class="input-icon-addon">
													<i class="isax isax-calendar"></i>
												</span>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="mb-3">
											<label class="form-label">Status <span class="text-danger"> *</span></label>
											<mat-select class="custom-mat-select select" placeholder="Select"> 
												<mat-option value="1">Select</mat-option>
												<mat-option value="1">Published</mat-option>
												<mat-option value="1">Draft</mat-option>
											</mat-select>
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button class="btn bg-gray-100 rounded-pill me-2" type="button" data-bs-dismiss="modal">Cancel</button>
								<button class="btn btn-secondary rounded-pill" type="submit" data-bs-dismiss="modal">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- /Add Assignment -->

			<!-- Edit Assignment -->
			<div class="modal fade" id="edit_assignment">
				<div class="modal-dialog modal-dialog-centered modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="fw-bold">Edit Assignments</h5>
							<button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
								<i class="isax isax-close-circle5"></i>
							</button>
						</div>
						<form>
							<div class="modal-body">
								<div class="row">
									<div class="col-md-12">
										<div class="mb-3">
											<label class="form-label">Course <span class="text-danger"> *</span></label>
											<mat-select class="custom-mat-select select" placeholder="Information About UI/UX Design Degree">
												<mat-option value="1">Select</mat-option>
												<mat-option value="1">Information About UI/UX Design Degree</mat-option>
												<mat-option value="1">Wordpress for Beginners - Master Wordpress Quickly</mat-option>
												<mat-option value="1">Introduction to Python Programming</mat-option>
											</mat-select>
										</div>
									</div>
									<div class="col-md-12">
										<div class="mb-3">
											<label class="form-label">Assingment Title <span class="text-danger"> *</span></label>
											<input type="text" class="form-control" value="Building Your First Landing Page">
										</div>
									</div>
									<div class="col-md-12">
										<div class="mb-3">
											<label class="form-label">Description</label>
											<textarea class="form-control">Enter Description</textarea>
										</div>
									</div>
									<div class="col-md-12">
										<div class="mb-3">
											<label class="form-label">Instructions <span class="text-danger"> *</span></label>
											<textarea rows="4" class="form-control">Enter Instructions</textarea>
										</div>
									</div>
									<div class="col-md-6">
										<div class="mb-3 mb-md-0 ngxdate1">
											<label class="form-label">Last Date <span class="text-danger"> *</span></label>
											<div class="input-icon-end position-relative">
												<input type="text" class="form-control datetimepicker" bsDatepicker container=".ngxdate1" [bsConfig]="{ adaptivePosition: true }" placeholder="dd/mm/yyyy" value="02-05-2024">
												<span class="input-icon-addon">
													<i class="isax isax-calendar"></i>
												</span>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="mb-0">
											<label class="form-label">Status <span class="text-danger"> *</span></label>
											<mat-select class="custom-mat-select select" placeholder="Published"> 
												<mat-option value="1">Select</mat-option>
												<mat-option value="1">Published</mat-option>
												<mat-option value="1">Draft</mat-option>
											</mat-select>
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button class="btn bg-gray-100 rounded-pill me-2" type="button" data-bs-dismiss="modal">Cancel</button>
								<button class="btn btn-secondary rounded-pill" type="submit" data-bs-dismiss="modal">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- /Edit Assignment -->

			<!-- Assignment Details -->
			<div class="modal fade" id="view_assignment">
				<div class="modal-dialog modal-dialog-centered modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="fw-bold">Assignments Details</h5>
							<button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
								<i class="isax isax-close-circle5"></i>
							</button>
						</div>
						<div class="modal-body">
							<div class="mb-4">
								<h6 class="mb-1">Course</h6>
								<p>Introduction to Programming - Python & Java</p>
							</div>
							<div class="mb-4">
								<h6 class="mb-1">Title</h6>
								<p>Guest Lecture Announcement</p>
							</div>
							<div class="mb-4">
								<h6 class="mb-1">Description</h6>
								<p>I am excited to inform you that we will be having a guest lecture from , an expert . 
									This will be an excellent opportunity to gain insight into and ask any questions you might have. 
									Please make every effort to attend, as participation will count towards.
								</p>
							</div>
							<div class="mb-4">
								<h6 class="mb-1">Instructions</h6>
								<p>Explain the specific instructions or requirements for the assignment. For example, 
									"The assignment should be 3-5 
									pages long, formatted in APA style. You must use at least 5 peer-reviewed articles.
								</p>
							</div>
							<div class="mb-0">
								<h6 class="mb-1">Last Date</h6>
								<p>26 Jul 2025</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Assignment Details -->

			<!-- Delete Modal -->
			<div class="modal fade" id="delete_modal">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-body text-center custom-modal-body">
							<span class="avatar avatar-lg bg-danger-transparent rounded-circle mb-2">
								<i class="isax isax-trash fs-24 text-danger"></i>
							</span>
							<div>
								<h4 class="mb-2">Delete Assignments</h4>
								<p class="mb-3">Are you sure you want to delete assignments?</p>
								<div class="d-flex align-items-center justify-content-center">
									<a href="javascript:void(0);" class="btn bg-gray-100 rounded-pill me-2" data-bs-dismiss="modal">Cancel</a>
									<a href="javascript:void(0);" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Yes, Delete</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Delete Modal -->