<div class="main-wrapper">
  <div class="login-content">
      <div class="row">
          <!-- Login Banner -->
          <div class="col-md-6 login-bg d-none d-lg-flex">
              <div class="login-carousel">
                <ngx-slick-carousel [config]="authSlider">
                  @for (slide of welcomeLogin; track slide) {
                    <div ngxSlickItem>
                      <div class="login-carousel-section mb-3">
                          <div class="login-banner">
                              <img [src]="slide.img" class="img-fluid" alt="Logo">
                          </div>
                          <div class="mentor-course text-center">
                              <h3 class="mb-2">{{slide.content1}} <br>{{slide.content2}}<span class="text-secondary">{{slide.content3}}</span> {{slide.content4}}</h3>
                              <p>{{slide.paragraph}}</p>
                          </div>
                      </div>
                  </div>
                  }
                </ngx-slick-carousel>
                  
                  
              </div>
          </div>
          <!-- /Login Banner -->

          <div class="col-md-6 login-wrap-bg">
            <!-- Login -->
            <div class="login-wrapper">
                <div class="loginbox">
                    <div class="w-100">
                        <div class="d-flex align-items-center justify-content-between login-header">
                            <img src="assets/img/logo.svg" class="img-fluid" alt="Logo">
                            <a [routerLink]="routes.home" class="link-1">Back to Home</a>
                        </div>
                        <div class="topic">
                            <h1 class="fs-32 fw-bold mb-3">Forgot Password</h1>
                            <p class="fs-14 fw-normal mb-0">Enter your email to reset your password.</p>
                        </div>
                        <form (ngSubmit)="directIndex()" class="mb-3 pb-3">
                            <div class="mb-3 position-relative">
                                <label class="form-label">Email<span class="text-danger ms-1">*</span></label>
                                <div class="position-relative">
                                    <input type="email" class="form-control form-control-lg">
                                    <span><i class="isax isax-sms input-icon text-gray-7 fs-14"></i></span>
                                </div>
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-secondary btn-lg" type="submit">Submit<i class="isax isax-arrow-right-3 ms-1"></i></button>
                            </div>
                        </form>

                        <p class="fs-14 fw-normal d-flex align-items-center justify-content-center">
                            Remember Password?<a [routerLink]="routes.login" class="link-2 ms-1"> Sign In</a>
                        </p>

                        <!-- /Login -->

                    </div>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>