<footer class="footer footer-three">
				
    <!-- Footer Top -->
    <div class="footer-top aos" data-aos="fade-up">
        <div class="container">
            <div class="row justify-content-between row-gap-4">
                <div class="col-lg-4 col-md-12">
                
                    <!-- Footer Widget -->
                    <div class="footer-widget footer-about">
                        <div class="footer-logo">
                            <img src="assets/img/logo-white.svg" alt="logo">
                        </div>
                        <div class="footer-about-content">
                            <p>Platform designed to help organizations, educators, and learners manage, deliver, and track learning and training activities.</p>
                        </div>
                        <div class="d-flex align-items-center gap-2 flex-wrap">
                            <a href="javascript:void(0);"><img src="assets/img/icons/appstore.svg" alt="" class="img-fluid"></a>
                            <a href="javascript:void(0);"><img src="assets/img/icons/googleplay.svg" alt="" class="img-fluid"></a>
                        </div>
                    </div>
                    <!-- /Footer Widget -->
                    
                </div>

                <div class="col-lg-8">
                    <div class="row row-gap-4">
                
                        <div class="col-lg-3 col-md-6">
                        
                            <!-- Footer Widget -->
                            <div class="footer-widget footer-menu">
                                <h6 class="footer-title">Support</h6>
                                <ul>
                                    <li><a [routerLink]="routes.courseGrid">Education</a></li>
                                    <li><a [routerLink]="routes.addCourse">Enroll a Course</a></li>
                                    <li><a [routerLink]="routes.register">Orders</a></li>
                                    <li><a [routerLink]="routes.page_pricing_plan">Payments</a></li>
                                    <li><a [routerLink]="routes.contactUs">Contact Us</a></li>
                                </ul>
                            </div>
                            <!-- /Footer Widget -->
                            
                        </div>
                        
                        <div class="col-lg-3 col-md-6">
                        
                            <!-- Footer Widget -->
                            <div class="footer-widget footer-menu">
                                <h6 class="footer-title">About</h6>
                                <ul>
                                    <li><a [routerLink]="routes.courseCategory">Categories</a></li>
                                    <li><a [routerLink]="routes.courseCategory">Services</a></li>
                                    <li><a [routerLink]="routes.aboutUs">About Us</a></li>
                                    <li><a [routerLink]="routes.page_faq">FAQ</a></li>
                                    <li><a [routerLink]="routes.blog_grid3">Blog</a></li>
                                </ul>
                            </div>
                            <!-- /Footer Widget -->
                            
                        </div>

                        <div class="col-lg-3 col-md-6">
                        
                            <!-- Footer Widget -->
                            <div class="footer-widget footer-menu">
                                <h6 class="footer-title">Useful Links</h6>
                                <ul>
                                    <li><a href="javascript:void(0);">Our values</a></li>
                                    <li><a href="javascript:void(0);">Advisory board</a></li>
                                    <li><a href="javascript:void(0);">Our partners</a></li>
                                    <li><a href="javascript:void(0);">Become a partner</a></li>
                                    <li><a href="javascript:void(0);">Future Learn</a></li>
                                </ul>
                            </div>
                            <!-- /Footer Widget -->
                            
                        </div>
                
                        <div class="col-lg-3 col-md-6">
                        
                            <!-- Footer Widget -->
                            <div class="footer-widget footer-contact">
                                <h6 class="footer-title">Contact Info</h6>
                                <ul>
                                    <li>
                                        <div class="contact-infos">
                                            <span>Phone Number</span>
                                            <p>310-437-2766</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="contact-infos">
                                            <span>Mail Address</span>
                                            <p>contact&#64;example.com</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="contact-infos">
                                            <span>Address</span>
                                            <p>706 Campfire Ave. Meriden, CT </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- /Footer Widget -->
                            
                        </div>

                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- /Footer Top -->
    
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
        
            <!-- Copyright -->
            <div class="row row-gap-3">
                <div class="col-md-4">
                    <div class="copyright-text">
                        <p>Copyright 2025 © <a href="javascript:void(0);">DreamsLMS</a>. All right reserved.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex align-items-center justify-content-center gap-2">
                        <a href="javascript:void(0);">
                            <img src="assets/img/icons/fb.svg" alt="facebook" class="img-fluid">
                        </a>
                        <a href="javascript:void(0);">
                            <img src="assets/img/icons/instagram.svg" alt="facebook" class="img-fluid">
                        </a>
                        <a href="javascript:void(0);">
                            <img src="assets/img/icons/be.svg" alt="facebook" class="img-fluid">
                        </a>
                        <a href="javascript:void(0);">
                            <img src="assets/img/icons/linkedin.svg" alt="facebook" class="img-fluid">
                        </a>
                        <a href="javascript:void(0);">
                            <img src="assets/img/icons/x.svg" alt="facebook" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="privacy-link">
                        <a [routerLink]="routes.page_term_condition" class="mb-0">Terms & Policy</a>
                        <a [routerLink]="routes.page_privacy_policy">Privacy Policy</a>
                    </div>
                </div>
            </div>
            <!-- /Copyright -->
            
        </div>
    </div>
    <!-- /Footer Bottom -->
    
</footer>