<div class="main-wrapper">
    <div class="login-content">
        <div class="row">
            <!-- Login Banner -->
            <div class="col-md-6 login-bg d-none d-lg-flex">
                <div class="login-carousel">
                  <ngx-slick-carousel [config]="authSlider">
                    @for (slide of welcomeLogin; track slide) {
                      <div ngxSlickItem>
                        <div class="login-carousel-section mb-3">
                            <div class="login-banner">
                                <img [src]="slide.img" class="img-fluid" alt="Logo">
                            </div>
                            <div class="mentor-course text-center">
                                <h3 class="mb-2">{{slide.content1}} <br>{{slide.content2}}<span class="text-secondary">{{slide.content3}}</span> {{slide.content4}}</h3>
                                <p>{{slide.paragraph}}</p>
                            </div>
                        </div>
                    </div>
                    }
                  </ngx-slick-carousel>
                    
                    
                </div>
            </div>
            <!-- /Login Banner -->
  
            <div class="col-md-6 login-wrap-bg">
                <!-- Login -->
                <div class="login-wrapper">
                    <div class="loginbox">
                        <div class="w-100">
                            <div class="d-flex align-items-center justify-content-between login-header">
                                <img src="assets/img/logo.svg" class="img-fluid" alt="Logo">
                                <a [routerLink]="routes.home" class="link-1">Back to Home</a>
                            </div>
                            <h1 class="fs-32 fw-bold topic">Sign up</h1>
                            <form (ngSubmit)="directIndex()" class="mb-3 pb-3">
                                <div class="mb-3 position-relative">
                                    <label class="form-label">Full Name<span class="text-danger ms-1">*</span></label>
                                    <div class="position-relative">
                                        <input type="text" class="form-control form-control-lg">
                                        <span><i class="isax isax-user input-icon text-gray-7 fs-14"></i></span>
                                    </div>
                                </div>
                                <div class="mb-3 position-relative">
                                    <label class="form-label">Email<span class="text-danger ms-1">*</span></label>
                                    <div class="position-relative">
                                        <input type="email" class="form-control form-control-lg">
                                        <span><i class="isax isax-sms input-icon text-gray-7 fs-14"></i></span>
                                    </div>
                                </div>
                                <div class="mb-3 position-relative">
                                    <label class="form-label">New Password <span class="text-danger"> *</span></label>
                                    <div id="passwordInput" class="pass-group">
                                        <div class="pass-group mb-3">
                                            <input
                                          [type]="password[0] ? 'text' : 'password'"
                                          id="password"
                                          class="pass-input form-control form-control-lg"
                                          (input)="checkPasswordStrength($event)"
                                        />
                                        <span class="isax toggle-password fs-14"
                                            [ngClass]="password[0] ? 'isax-eye' : 'isax-eye-slash'"
                                            (click)="togglePassword(0)"
                                            (keydown.enter)="togglePassword(0)"
                                            tabindex="0"
                                            ></span>
                                        </div>
                                        <div id="passwordStrength" class="strength-meter password-strength" [ngClass]="{'poor-active':strengthLevel === 'poor','avg-active':strengthLevel === 'weak','strong-active':strengthLevel === 'strong','heavy-active':strengthLevel === 'heavy'}" >
                                          <span id="poor" [ngClass]="{'active': strengthLevel === 'poor'||strengthLevel === 'weak'||strengthLevel === 'strong'||strengthLevel === 'heavy'}"></span>
                                          <span id="weak" [ngClass]="{'active': strengthLevel === 'weak'||strengthLevel === 'strong'||strengthLevel === 'heavy'}"></span>
                                          <span id="strong" [ngClass]="{'active': strengthLevel === 'strong'||strengthLevel === 'heavy'}"></span>
                                          <span id="heavy" [ngClass]="{'active': strengthLevel === 'heavy'}"></span>
                                        </div>
                                       
                                      </div>
                                      <div id="passwordInfo" class="mt-2">
                                        <span *ngIf="strengthLevel === 'poor'" class="d-flex align-items-center text-danger fs-15 fw-semibold">
                                          <img src="assets/img/icon/angry.svg" class="me-2">Weak. Must contain at least 8 characters
                                        </span>
                                        <span *ngIf="strengthLevel === ('poor'&&'weak')" class="d-flex align-items-center text-warning fs-15 fw-semibold">
                                          <img src="assets/img/icon/anguish.svg" class="me-2">Average. Must contain at least 1 letter or number
                                        </span>
                                        <span *ngIf="strengthLevel === ('poor'&&'weak'&&'strong')" class="d-flex align-items-center text-blueL fs-15 fw-semibold">
                                          <img src="assets/img/icon/smile.svg" class="me-2">Almost. Must contain special symbol
                                        </span>
                                        <span *ngIf="strengthLevel === ('poor'&&'weak'&&'strong'&&'heavy')" class="d-flex align-items-center text-success fs-15 fw-semibold">
                                          <img src="assets/img/icon/smile.svg" class="me-2">Awesome! You have a secure password.
                                        </span>
                                      </div>
                                </div>
                                <div class="mb-3 position-relative">
                                    <label class="form-label">Confirm Password <span class="text-danger"> *</span></label>
                                    <div class="position-relative" id="passwordInput">
                                        <input [type]="password[1] ? 'text' : 'password'" class="pass-inputs form-control form-control-lg">
                                        <span tabindex="0" (click)="togglePassword(1)" (keydown.enter)="togglePassword(1)" class="isax toggle-passwords fs-14" [ngClass]="password[1] ? 'isax-eye' : 'isax-eye-slash'"></span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between mb-4">
                                    <div class="remember-me d-flex align-items-center">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label mb-0 d-inline-flex remember-me fs-14" for="flexCheckDefault">
                                                I agree with <a href="javascript:void(0);" class="link-2 mx-2">Terms of Service</a> and <a href="javascript:void(0);" class="link-2 mx-2">Privacy Policy</a> 
                                            </label>
                                    </div>
                                </div>
                                <div class="d-grid">
                                    <button class="btn btn-secondary btn-lg" type="submit">Sign Up <i class="isax isax-arrow-right-3 ms-1"></i></button>
                                </div>
                            </form>

                            <div class="d-flex align-items-center justify-content-center or fs-14 mb-3">
                                Or
                            </div>

                            <div class="d-flex align-items-center justify-content-center mb-3">
                                <a href="javascript:void(0);" class="btn btn-light me-2"><img src="assets/img/icons/google.svg" alt="img" class="me-2">Google</a>
                                <a href="javascript:void(0);" class="btn btn-light"><img src="assets/img/icons/facebook.svg" alt="img" class="me-2">Facebook</a>
                            </div>

                            <div class="fs-14 fw-normal d-flex align-items-center justify-content-center">
                                Already you have an account?<a [routerLink]="routes.login" class="link-2 ms-1"> Login</a>
                            </div>

                            <!-- /Login -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>