<div class="container">
    <div class="row row-gap-4">
        <div class="col-lg-4">
            <div class="footer-about">
                <div class="footer-logo">
                    <img src="assets/img/logo-white.svg" alt="">
                </div>
                <p>Platform designed to help organizations, educators, and learners manage, deliver, and track learning and training activities.</p>
                <div class="d-flex align-items-center">
                    <a href="javascript:void(0);" class="me-2"><img src="assets/img/icon/appstore.svg" alt=""></a>
                    <a href="javascript:void(0);"><img src="assets/img/icon/googleplay.svg" alt=""></a>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="row row-gap-4">
                <div class="col-lg-4 col-md-4">
                    <div class="footer-widget footer-menu">
                        <h5 class="footer-title">Support</h5>
                        <ul>
                            <li><a [routerLink]="routes.courseGrid">Education</a></li>
                            <li><a [routerLink]="routes.addCourse">Enroll Course</a></li>
                            <li><a href="javscript:void(0);">Orders</a></li>
                            <li><a [routerLink]="routes.page_pricing_plan">Payments</a></li>
                            <li><a [routerLink]="routes.blog_grid">Blogs</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="footer-widget footer-menu">
                        <h5 class="footer-title">About</h5>
                        <ul>
                            <li><a [routerLink]="routes.courseCategory">Categories</a></li>
                            <li><a [routerLink]="routes.courseList">Courses</a></li>
                            <li><a [routerLink]="routes.aboutUs">About Us</a></li>
                            <li><a [routerLink]="routes.page_faq">Faq</a></li>
                            <li><a [routerLink]="routes.contactUs">Contacts</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="footer-widget footer-menu">
                        <h5 class="footer-title">Useful Links</h5>
                        <ul>
                            <li><a href="javascript:void(0);">Our values</a></li>
                            <li><a href="javascript:void(0);">Our advisory board</a></li>
                            <li><a href="javascript:void(0);">Our partners</a></li>
                            <li><a href="javascript:void(0);">Become a partner</a></li>
                            <li><a href="javascript:void(0);">Work at Future Learn</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>							
        <div class="col-lg-3">
            <div class="footer-widget footer-contact">
                <h5 class="footer-title">Subscribe Newsletter</h5>
                <div class="footer-newsletter">
                    <p>Sign up to get updates & news.</p>							
                    <form action="javascript:void(0);">
                        <div class="subscribe-form">
                            <span>
                                <i class="isax isax-message-text"></i>
                            </span>
                            <input type="email" class="form-control" placeholder="Email Address">
                        </div>
                        <button type="submit" class="btn btn-secondary btn-xl w-100">Subscribe</button>		
                    </form>	
                </div>	
            </div>
        </div>
    </div>
</div>