
    <div class="page-title d-flex align-items-center justify-content-between">
        <h5>My Certificates</h5>
    </div>
    <div class="table-responsive custom-table">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>ID</th>
                    <th>Certificate Name</th>
                    <th>Date</th>
                    <th>Marks</th>
                    <th>Out of</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>01</td>
                    <td><a href="javascript:void(0);" class="fw-semibold">UI/UX Design Certificate</a></td>
                    <td>22 Aug 2025</td>
                    <td>20</td>
                    <td>20</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <a href="javascript:void(0);" class="d-inline-flex fs-14 me-1 action-icon" data-bs-toggle="modal" data-bs-target="#view_certificate"><i class="isax isax-eye"></i></a>
                            <a href="javascript:void(0);" class="d-inline-flex fs-14 action-icon"><i class="isax isax-import"></i></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>02</td>
                    <td><a href="javascript:void(0);" class="fw-semibold">Wordpress Certificate</a></td>
                    <td>10 Aug 2025</td>
                    <td>18</td>
                    <td>20</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <a href="javascript:void(0);" class="d-inline-flex fs-14 me-1 action-icon" data-bs-toggle="modal" data-bs-target="#view_certificate"><i class="isax isax-eye"></i></a>
                            <a href="javascript:void(0);" class="d-inline-flex fs-14 action-icon"><i class="isax isax-import"></i></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>03</td>
                    <td><a href="javascript:void(0);" class="fw-semibold">HTML CSS Certificate</a></td>
                    <td>26 Jul 2025</td>
                    <td>25</td>
                    <td>30</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <a href="javascript:void(0);" class="d-inline-flex fs-14 me-1 action-icon" data-bs-toggle="modal" data-bs-target="#view_certificate"><i class="isax isax-eye"></i></a>
                            <a href="javascript:void(0);" class="d-inline-flex fs-14 action-icon"><i class="isax isax-import"></i></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>04</td>
                    <td><a href="javascript:void(0);" class="fw-semibold">JavaScript Certificate</a></td>
                    <td>14 Jul 2025</td>
                    <td>15</td>
                    <td>20</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <a href="javascript:void(0);" class="d-inline-flex fs-14 me-1 action-icon" data-bs-toggle="modal" data-bs-target="#view_certificate"><i class="isax isax-eye"></i></a>
                            <a href="javascript:void(0);" class="d-inline-flex fs-14 action-icon"><i class="isax isax-import"></i></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>05</td>
                    <td><a href="javascript:void(0);" class="fw-semibold">Photoshop Certificate</a></td>
                    <td>19 Jun 2025</td>
                    <td>20</td>
                    <td>30</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <a href="javascript:void(0);" class="d-inline-flex fs-14 me-1 action-icon" data-bs-toggle="modal" data-bs-target="#view_certificate"><i class="isax isax-eye"></i></a>
                            <a href="javascript:void(0);" class="d-inline-flex fs-14 action-icon"><i class="isax isax-import"></i></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>06</td>
                    <td><a href="javascript:void(0);" class="fw-semibold">Python Certificate</a></td>
                    <td>12 Jun 2025</td>
                    <td>20</td>
                    <td>20</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <a href="javascript:void(0);" class="d-inline-flex fs-14 me-1 action-icon" data-bs-toggle="modal" data-bs-target="#view_certificate"><i class="isax isax-eye"></i></a>
                            <a href="javascript:void(0);" class="d-inline-flex fs-14 action-icon"><i class="isax isax-import"></i></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>



			<!-- View Certificate -->
			<div class="modal fade" id="view_certificate">
				<div class="modal-dialog modal-dialog-centered modal-xl">
					<div class="modal-content">
						<div class="modal-header">
							<h5>View Certificate</h5>
							<button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
								<i class="isax isax-close-circle5"></i>
							</button>
						</div>
						<div class="modal-body">
							<div><img src="assets/img/icon/certificate.svg" class="img-fluid" alt=""></div>
							<div class="text-end mt-4">
								<a href="javascript:void(0);" class="btn btn-secondary rounded-pill"><i class="isax isax-import me-2"></i>Download</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /View Certificate -->