<div class="settings-sidebar theiaStickySidebar">
    <div>
        <h6 class="mb-3">Main Menu</h6>
        <ul class="mb-3 pb-1">
            <li>
                <a [routerLink]="routes.students_Dashboard" class="d-inline-flex align-items-center" routerLinkActive="active"><i class="isax isax-grid-35 me-2"></i>Dashboard</a>
            </li>
            <li>
                <a [routerLink]="routes.students_profile" class="d-inline-flex align-items-center" routerLinkActive="active"><i class="fa-solid fa-user me-2"></i>My Profile</a>
            </li>
            <li>
                <a [routerLink]="routes.studentCourses" class="d-inline-flex align-items-center" routerLinkActive="active"><i class="isax isax-teacher5 me-2"></i>Enrolled Courses</a>
            </li>
            <li>
                <a [routerLink]="routes.student_Certificate" class="d-inline-flex align-items-center" routerLinkActive="active"><i class="isax isax-note-215 me-2"></i>My Certificates</a>
            </li>
            <li>
                <a [routerLink]="routes.studentWishlist" class="d-inline-flex align-items-center" routerLinkActive="active"><i class="isax isax-heart5 me-2"></i>Wishlist</a>
            </li>
            <li>
                <a [routerLink]="routes.studentReviews" class="d-inline-flex align-items-center" routerLinkActive="active"><i class="isax isax-star5 me-2"></i>Reviews</a>
            </li>
            <li>
                <a [routerLink]="routes.studentQuiz" class="d-inline-flex align-items-center" [class.active]="page==='student-quiz'||page==='student-quiz-questions'"><i class="isax isax-award5 me-2"></i>My Quiz Attempts</a>
            </li>
            <li>
                <a [routerLink]="routes.studentOrderHistory" class="d-inline-flex align-items-center" routerLinkActive="active"><i class="isax isax-shopping-cart5 me-2"></i>Order History</a>
            </li>
            <li>
                <a [routerLink]="routes.students_referral" class="d-inline-flex align-items-center" routerLinkActive="active"><i class="isax isax-tag-user5 me-2"></i>Referrals</a>
            </li>
            <li>
                <a [routerLink]="routes.studentsMessage" class="d-inline-flex align-items-center" routerLinkActive="active"><i class="isax isax-messages-35 me-2"></i>Messages</a>
            </li>
            <li>
                <a [routerLink]="routes.students_tickets" class="d-inline-flex align-items-center" routerLinkActive="active"><i class="isax isax-ticket5 me-2"></i>Support Tickets</a>
            </li>
        </ul>
        <hr>
        <h6 class="mb-3">Account Settings</h6>
        <ul>
            <li>
                <a [routerLink]="routes.studentSettings" class="d-inline-flex align-items-center" [class.active]="last==='student-settings'||last==='student-change-password' ||last==='student-social-profile' || last==='student-linked-accounts' || last==='student-notifications' || last==='student-billing-address'" ><i class="isax isax-setting-25 me-2"></i>Settings</a>
            </li>
            <li>
                <a [routerLink]="routes.login" class="d-inline-flex align-items-center" routerLinkActive="active"><i class="isax isax-logout5 me-2"></i>Logout</a>
            </li>
        </ul>
    </div>
</div>